/*-------------------------------------------------*/
/* =  FONTS
/*-------------------------------------------------*/
@font-face {
  font-family: 'NexaLight';
  src: url("../fonts/NexaLight.otf");
  /* IE9 Compat Modes */
  src: url("../fonts/NexaLight.otf?#iefix") format("embedded-opentype"), url("../fonts/NexaLight.otf"); }

@font-face {
  font-family: 'NexaBold';
  src: url("../fonts/NexaBold.otf");
  /* IE9 Compat Modes */
  src: url("../fonts/NexaBold.otf?#iefix") format("embedded-opentype"), url("../fonts/NexaBold.otf"); }

@font-face {
  font-family: 'HouseCasual';
  src: url("../fonts/HouseCasual.otf");
  /* IE9 Compat Modes */
  src: url("../fonts/HouseCasual.otf?#iefix") format("embedded-opentype"), url("../fonts/HouseCasual.otf"); }

/*-------------------------------------------------*/
/* =  FONT SIZE FOR ALL BLOCKS - MEDIA QUERY
/*-------------------------------------------------*/
.container {
  font-size: 100%; }
  @media only screen and (max-width: 1336px) {
    .container {
      font-size: 95%; } }
  @media only screen and (max-width: 1200px) {
    .container {
      font-size: 85%; } }
  @media only screen and (max-width: 767px) {
    .container {
      font-size: 75%; } }
  @media only screen and (max-width: 480px) {
    .container {
      font-size: 65%; } }

html,
body {
  height: 100%; }

/*-------------------------------------------------*/
/* =  BACKGROUND FOR SECTIONS
/*-------------------------------------------------*/
.bg1 {
  background: url("../image/bg_1.jpg") no-repeat;
  background-size: cover; }

.bg3 {
  background: url("../image/bg_2.jpg") no-repeat;
  background-size: cover; }

/*-------------------------------------------------*/
/* =  FOOTER TO BOTTOM FIX
/*-------------------------------------------------*/
.bg4 {
  display: table;
  height: 100%; }

#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 100500; }

/*-------------------------------------------------*/
/* =  Header
/*-------------------------------------------------*/
.header {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100px;
  /*-------------------------------------------------*/
  /* =  Header navigation
  /*-------------------------------------------------*/ }
  @media only screen and (max-width: 767px) {
    .header {
      height: auto;
      background-color: rgba(246, 246, 246, 0.78); } }
  .header__navigation.container {
    border-bottom: 1px solid #E2E2E2; }
  .header__navigation {
    text-align: center; }
    .header__navigation__item {
      display: inline-block;
      padding: 40px 20px;
      color: #E2E2E2;
      text-decoration: none;
      text-transform: uppercase;
      font-family: "NexaLight", sans-serif;
      font-size: 1.72em;
      -moz-transition: all .6s ease-out;
      -o-transition: all .6s ease-out;
      -webkit-transition: all .6s ease-out;
      /*-------------------------------------------------*/
      /* =  Hide navigation for phone
      /*-------------------------------------------------*/ }
      @media only screen and (max-width: 1336px) {
        .header__navigation__item {
          padding: 28px 15px; } }
      @media only screen and (max-width: 1200px) {
        .header__navigation__item {
          padding: 25px 15px; } }
      @media only screen and (max-width: 992px) {
        .header__navigation__item {
          padding: 20px 15px; } }
      @media only screen and (max-width: 767px) {
        .header__navigation__item {
          padding: 8px 10px;
          color: #333333; } }
      @media only screen and (max-width: 480px) {
        .header__navigation__item {
          display: none;
          padding: 10px 10px; } }
      .header__navigation__item:hover {
        color: #BBBBBB;
        text-decoration: none;
        -moz-transition: all .6s ease-out;
        -o-transition: all .6s ease-out;
        -webkit-transition: all .6s ease-out; }
      .header__navigation__item:focus {
        color: #BBBBBB;
        text-decoration: none; }

/*-------------------------------------------------*/
/* =  Header end
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/* =  MAIN CONTENT
/*-------------------------------------------------*/
.content {
  font-family: "NexaLight", sans-serif;
  -moz-transition: all .6s ease-out;
  -o-transition: all .6s ease-out;
  -webkit-transition: all .6s ease-out;
  /*-------------------------------------------------*/
  /* = HOME SECTION
  /*-------------------------------------------------*/
  /*----------------------------------------------------*/
  /* = ABOUT BLOCK
  /*----------------------------------------------------*/
  /*----------------------------------------------------*/
  /* = PORTFOLIO BLOCK
  /*----------------------------------------------------*/
  /*----------------------------------------------------*/
  /* = CONTACTS BLOCK
  /*----------------------------------------------------*/ }
  .content strong {
    font-family: "NexaBold", sans-serif; }
  .content__home {
    margin-top: 150px;
    /*-------------------------------------------------*/
    /* = LOGO [PARALLAX]
    /*-------------------------------------------------*/
    /*-------------------------------------------------*/
    /* = SITE NAME
    /*-------------------------------------------------*/
    /*----------------------------------------------------*/
    /* = DESCRIPTION FOR ROWS [NEXT SECTION BLOCK - HOME]
    /*----------------------------------------------------*/ }
    @media only screen and (max-width: 1336px) {
      .content__home {
        margin-top: 80px; } }
    @media only screen and (max-width: 1200px) {
      .content__home {
        margin-top: 70px; } }
    @media only screen and (max-width: 992px) {
      .content__home {
        margin-top: 60px; } }
    @media only screen and (max-width: 767px) {
      .content__home {
        margin-top: 50px; } }
    @media only screen and (max-width: 480px) {
      .content__home {
        margin-top: 10px; } }
    .content__home__scene {
      padding: 0; }
      .content__home__scene__logo {
        text-align: center; }
        .content__home__scene__logo__image {
          width: 100%;
          max-width: 27em; }
          @media only screen and (max-width: 1200px) {
            .content__home__scene__logo__image {
              max-width: 22em; } }
    .content__home__site-name {
      text-align: center;
      text-transform: uppercase;
      font-size: 3.3em;
      color: #fff;
      margin-top: .5em;
      margin-bottom: .5em;
      -moz-transition: all .3s ease-out;
      -o-transition: all .3s ease-out;
      -webkit-transition: all .3s ease-out; }
      @media only screen and (max-width: 992px) {
        .content__home__site-name {
          margin-top: .3em;
          margin-bottom: .3em; } }
      @media only screen and (max-width: 480px) {
        .content__home__site-name {
          font-size: 2.5em; } }
    .content__home__scroll-description, .content__about__scroll-description, .content__portfolio__scroll-description {
      text-align: center;
      text-transform: uppercase;
      font-family: "NexaBold", sans-serif;
      font-size: 1em;
      letter-spacing: .1em;
      color: #bebebe;
      margin: 0; }
  .content__about {
    margin-top: 150px;
    /*-----------------------------------------------------*/
    /* = DESCRIPTION FOR ROWS [NEXT SECTION BLOCK - ABOUT]
    /*------------------------------------------------------*/ }
    @media only screen and (max-width: 1336px) {
      .content__about {
        margin-top: 100px; } }
    @media only screen and (max-width: 1200px) {
      .content__about {
        margin-top: 90px; } }
    @media only screen and (max-width: 992px) {
      .content__about {
        margin-top: 75px; } }
    @media only screen and (max-width: 767px) {
      .content__about {
        margin-top: 55px; } }
    @media only screen and (max-width: 480px) {
      .content__about {
        margin-top: 10px; } }
    .content__about__image {
      width: 92%; }
    .content__about__title {
      font-size: 2em; }
    .content__about__article {
      font-size: 1.4em;
      -moz-transition: all .3s ease-out;
      -o-transition: all .3s ease-out;
      -webkit-transition: all .3s ease-out; }
      @media only screen and (max-width: 992px) {
        .content__about__article {
          font-size: 1.1em; } }
      .content__about__article__sign {
        font-family: "HouseCasual", sans-serif;
        font-size: 2em; }
    .content__about__scroll-description {
      margin-top: 30px; }
  .content__portfolio {
    position: relative;
    margin-top: 100px;
    color: white;
    /*----------------------------------------------------*/
    /* = PORTFOLIO GALLERY
    /*----------------------------------------------------*/
    /*--------------------------------------------------------*/
    /* = DESCRIPTION FOR ROWS [NEXT SECTION BLOCK - PORTFOLIO]
    /*--------------------------------------------------------*/ }
    @media only screen and (max-width: 1336px) {
      .content__portfolio {
        margin-top: 80px; } }
    @media only screen and (max-width: 1200px) {
      .content__portfolio {
        margin-top: 70px; } }
    @media only screen and (max-width: 992px) {
      .content__portfolio {
        margin-top: 60px; } }
    @media only screen and (max-width: 767px) {
      .content__portfolio {
        margin-top: 50px; } }
    @media only screen and (max-width: 480px) {
      .content__portfolio {
        margin-top: 10px; } }
    .content__portfolio__title {
      text-align: center;
      font-size: 3em;
      letter-spacing: .1em;
      text-transform: uppercase; }
      @media only screen and (max-width: 992px) {
        .content__portfolio__title {
          font-size: 2em; } }
    .content__portfolio__items {
      text-align: center; }
      .content__portfolio__items__image {
        overflow: hidden;
        height: 190px;
        margin-bottom: 5%; }
        @media only screen and (max-width: 992px) {
          .content__portfolio__items__image {
            height: 120px; } }
        @media only screen and (max-width: 767px) {
          .content__portfolio__items__image {
            height: 320px; } }
        @media only screen and (max-width: 480px) {
          .content__portfolio__items__image {
            height: 227px; } }
        .content__portfolio__items__image img {
          touch-action: none;
          width: 100%;
          height: 190px;
          -moz-transition: all .5s ease-out;
          -o-transition: all .5s ease-out;
          -webkit-transition: all .5s ease-out; }
          @media only screen and (max-width: 992px) {
            .content__portfolio__items__image img {
              height: 120px; } }
          @media only screen and (max-width: 767px) {
            .content__portfolio__items__image img {
              height: 350px; } }
          @media only screen and (max-width: 480px) {
            .content__portfolio__items__image img {
              height: 320px; } }
          .content__portfolio__items__image img:hover {
            -webkit-transform: scale(1.5);
            -moz-transform: scale(1.5);
            -o-transform: scale(1.5); }
    .content__portfolio__scroll-description {
      margin-top: 30px; }
  .content__contacts {
    display: table-row;
    height: 100%;
    text-transform: uppercase;
    text-align: center;
    /*----------------------------------------------------*/
    /* = SOCIAL BLOCK
    /*----------------------------------------------------*/
    /*----------------------------------------------------*/
    /* = CONTACTS BLOCK - MARGIN TOP HEIGHT
    /*----------------------------------------------------*/ }
    .content__contacts__signs {
      font-size: 1.5em; }
    .content__contacts__email {
      font-size: 3em;
      margin: 0; }
    .content__contacts__phone {
      font-size: 2em;
      margin: 0; }
    .content__contacts__social {
      padding: 0; }
      .content__contacts__social__item {
        display: inline-block;
        padding-left: 13px; }
        .content__contacts__social__item:first-child {
          padding-left: 0; }
        .content__contacts__social__item__fb, .content__contacts__social__item__tw, .content__contacts__social__item__in {
          display: block;
          width: 38px;
          height: 38px;
          background: url("../image/social.png") no-repeat center;
          background-size: cover;
          background-position: 0px 0px;
          opacity: 1;
          -moz-transition: all .3s ease-out;
          -o-transition: all .3s ease-out;
          -webkit-transition: all .3s ease-out; }
          .content__contacts__social__item__fb:hover, .content__contacts__social__item__tw:hover, .content__contacts__social__item__in:hover {
            opacity: .7;
            -moz-transition: all .3s ease-out;
            -o-transition: all .3s ease-out;
            -webkit-transition: all .3s ease-out; }
        .content__contacts__social__item__tw {
          background-position: -76px 0px; }
        .content__contacts__social__item__in {
          background-position: -38px 0px; }
    .content__contacts .container {
      margin-top: 17em; }
      @media only screen and (max-width: 1336px) {
        .content__contacts .container {
          margin-top: 80px; } }
      @media only screen and (max-width: 1200px) {
        .content__contacts .container {
          margin-top: 70px; } }
      @media only screen and (max-width: 992px) {
        .content__contacts .container {
          margin-top: 60px; } }
      @media only screen and (max-width: 767px) {
        .content__contacts .container {
          margin-top: 50px; } }
      @media only screen and (max-width: 480px) {
        .content__contacts .container {
          margin-top: 10px; } }

/*-------------------------------------------------*/
/* =  MAIN CONTENT END
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/* =  MOVE ROWS STYLE
/*-------------------------------------------------*/
.move-rows {
  position: relative;
  top: 0;
  left: 0;
  width: 17px;
  margin: 0 auto; }
  .move-rows__row-1, .move-rows__row-2 {
    height: 17px;
    width: 17px;
    background-color: transparent;
    border: solid #bebebe;
    transform: rotate(-45deg);
    border-width: 0 0 3px 3px; }
  .move-rows__row-2 {
    margin-top: -6px; }

/*-------------------------------------------------*/
/* = LIGHT BOX STYLE [GALLERY FOR PORTFOLIO]
/*-------------------------------------------------*/
#imagelightbox {
  position: fixed;
  z-index: 9999;
  -ms-touch-action: none;
  touch-action: none;
  cursor: pointer; }
  #imagelightbox :before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75); }

/*-------------------------------------------------*/
/* =  Footer start
/*-------------------------------------------------*/
.footer {
  text-align: center; }
  .footer__copyright {
    font-size: 1em;
    color: #bebebe;
    text-transform: uppercase;
    margin: 40px auto; }

.footer.container {
  border-top: 1px solid #f1f1f1; }

/*-------------------------------------------------*/
/* =  Footer end
/*-------------------------------------------------*/
