/*-------------------------------------------------*/
/* =  Footer start
/*-------------------------------------------------*/
.footer {
  text-align: center;
  &__copyright {
    font-size: 1em;
    color: #bebebe;
    text-transform: uppercase;
    margin: 40px auto;
  }
}
.footer.container {
  border-top: 1px solid #f1f1f1;
}
/*-------------------------------------------------*/
/* =  Footer end
/*-------------------------------------------------*/