
$large-desktops-width: 1336px;
$desktops-width: 1200px;
$laptops-width: 992px;
$tablets-width: 767px;
$phones-width: 480px;


@mixin large-desktops {
  @media only screen and (max-width : $large-desktops-width) {
    @content;
  }
}

@mixin desktops {
  @media only screen and (max-width : $desktops-width) {
    @content;
  }
}

@mixin laptops {
  @media only screen and (max-width : $laptops-width) {
    @content;
  }
}

@mixin tablets {
  @media only screen and (max-width : $tablets-width) {
    @content;
  }
}

@mixin phones {
  @media only screen and (max-width: $phones-width) {
    @content;
  }
}

