/*-------------------------------------------------*/
/* =  FONTS
/*-------------------------------------------------*/
@font-face {
  font-family: 'NexaLight';
  src: url('../fonts/NexaLight.otf'); /* IE9 Compat Modes */
  src: url('../fonts/NexaLight.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/NexaLight.otf');
}
@font-face {
  font-family: 'NexaBold';
  src: url('../fonts/NexaBold.otf'); /* IE9 Compat Modes */
  src: url('../fonts/NexaBold.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/NexaBold.otf');
}
@font-face {
  font-family: 'HouseCasual';
  src: url('../fonts/HouseCasual.otf'); /* IE9 Compat Modes */
  src: url('../fonts/HouseCasual.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/HouseCasual.otf');
}

/*-------------------------------------------------*/
/* =  FONT SIZE FOR ALL BLOCKS - MEDIA QUERY
/*-------------------------------------------------*/
.container {
  font-size: 100%;
  @include large-desktops {
    font-size: 95%;
  }
  @include desktops {
    font-size: 85%;
  }
  @include tablets {
    font-size:75%;
  }
  @include phones {
    font-size:65%;
  }
}
