@import "media";
@import "typography";


html,
body {
  height: 100%;
}
/*-------------------------------------------------*/
/* =  BACKGROUND FOR SECTIONS
/*-------------------------------------------------*/
  .bg1 {
  background: url('../image/bg_1.jpg') no-repeat;
  background-size: cover;

}
.bg3 {
  background: url('../image/bg_2.jpg') no-repeat;
  background-size: cover;
}
/*-------------------------------------------------*/
/* =  FOOTER TO BOTTOM FIX
/*-------------------------------------------------*/
.bg4 {
  display: table;
  height: 100%;
}

#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 100500;
}

@import "header";
@import "content";
@import "footer";



