body {
  font-family: "HelveticaRegular";
  font-size: 16px;
  
}

.header {
    width: 100%;
    z-index: 10;
    background-color: #202121;
    box-shadow: 0px 0px 4px #202121;
    font-family: "HelveticaNeueCyrRoman";
    color: #fff;
    &_logo{
        display: block;
        max-width: 180px;
        text-decoration: none;
        font-size: 14px;
        margin: 10px 0 10px 10px;
        &_icon{
            transition: all 300ms ease-in-out;
        }
        &:hover {
                text-decoration: none;
            }
        &_caption {
            padding-left: 23px;
            color: #fff;
        }
    }
    &_icons {
        font-size: 14px;
        margin: 0 auto;
        width: 400px;
        &_return {
            width: 190px;
            float: left;
            margin: 15px 0px 13px 10px;
            &_image {
                float: left;
                padding: 17px 10px;
            }
        }
        &_happy {
            @extend .header_icons_return;
            &_image {
                @extend .header_icons_return_image;
            }
        }
    }
    &_telephone {
        float: right;
        width: 168px;
        margin: 18px 0;
        &_numbers {
            font-family: "HelveticaNeueCyrUltraLight";
            font-size: 22px;
        }
    }
    &_cta{
        float: right;
        margin: 22px 5px;
        text-transform: uppercase;
        color: #ec008c;
    }
}

/*Плавающая шапка*/
.headhesive {
    position: fixed;
    width: 100%;
    transition: all 200ms ease-in-out;
    transform: translateY(-100%);
}
.headhesive--stick {
    transform: translateY(0);
    opacity: 0.95;
    & .header_logo {
        &_icon{
            width: 90%;
        }
        &_caption{
            display: none;
        }
    }
    & .header_icons {
        &_return {
            margin: 3px 10px 3px 0;
        }
    }
    & .header_telephone {
        margin: 3px 0;
    }
    & .header_cta {
        margin: 8px 3px;
    }
}


.order-top{
    position: relative;
    /*top: 96px;*/
    background: url(../img/bg1.png) no-repeat bottom left,linear-gradient (top right, #e22e89, #ec44a2);
    background-size: 30%;
    min-height: 608px;
    &_title {
        font-family: "HelveticaNeueCyrThin";
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        margin: 22px 0px 0;
        padding: 0px 0 0 22px;
        letter-spacing: 2px;
        font-weight: normal;
    }
    &_post-title {
        @extend .order-top_title;
        margin: 4px 0 0;
        padding: 0 0 0 26px;
        letter-spacing: 1px;
        font-size: 19px;
    }
    &_picture {
        background: url(../img/picture-1.png) no-repeat bottom;
        height: 512px;
        margin-left: 67px;
        width: 100%;
        &_price {
            position: absolute;
            top: 266px;
            right: -46px;
            width: 135px;
            height: 135px;
            border-radius: 50%;
            background-color: #ff391f;
            border: 3px solid #fff;
            &_text{
                text-align: center;
                font-size: 16px;
                margin: 13px 0 0 5px;
                color: #333;
                font-weight: bolder;
                & strike {
                    font-size: 18px;
                }
                &_color {
                    color: #fff;
                    & span {
                        font-size: 37px;
                        line-height: 37px;
                    }
                }
            }
        }
    }
    &_form {
        background: rgba(255,255,255,0.80);
        border-radius: 10px;
        max-width: 360px;
        padding: 1px 14px 0px;
        margin: 24px 0 0 69px;
        color: #717070;
        font-size: 14px;
        &:after {
            content: '';
            position: absolute;
            left: 46px;
            top: 65px;
            border: 19px solid transparent;
            border-right: 19px solid rgba(255,255,255,.8);
        }
        &_title {
            text-align: center;
            color: #333333;
            font-size: 18px;
            text-transform: uppercase;
            margin: 11px 0;
            line-height: 25px;
            &_color{
                color: #ec008c;
                font-size: 22px;
            }
        }
        &_name {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #9b9b9b;
        }
        &_tel {
            @extend .order-top_form_name;
        }
        &_email {
            @extend .order-top_form_name;
        }
        &_caption {
            margin: 1px 7px 9px;
        }
        &_bottom-caption{
            text-align: center;
            margin: 5px 0;
    padding: 10px 0;
        }

        &_btn {
            display: block;
            margin: 0 auto;
            font-size: 24px;
            text-transform: uppercase;
            padding: 10px 24px;
            background-color: #e90075;
            border: none;
            color: #fff;
            border-radius: 6px;
            width: 95%;
            &:hover {
                background-color: #FF47A3;
            }
        }
    }
}


.trust {
    &_title{
        @extend .order-top_title;
        color: #000;
        font-size: 32px;
        margin-bottom: 34px;
    }
    &_icon {
        float: left;
        /* display: block; */
        margin: 15px 30px 27px 0;
    }
    &_icon-commercial {
        @extend .trust_icon;
        margin-right: 47px;
    }
    &_icon-money {
        @extend .trust_icon;
        margin-left: 23px;
        margin-right: 42px;
    }
    &_subtitle {
        font-family: "HelveticaNeueCyrThin";
        text-transform: uppercase;
        font-size: 24px;
        margin: 25px 144px;
        border-bottom: 1px solid #e90075;
        width: 321px;
        padding-bottom: 2px;
    }
    &_subtitle-money {
        @extend  .trust_subtitle;
        margin: 25px 170px;
        width: 278px;
    }
    &_subtitle-garntee {
        @extend .trust_subtitle;
        text-transform: lowercase;
        margin: 25px 170px;
        width: 278px;
    }
    &_description {
        font-family: "HelveticaNeueCyrThin";
        margin: -5px 0 70px 0;
    }
    &_caption {
        display: block;
        max-width: 210px;
        margin: 0 auto 50px;
        font-family: HouseCasual;
        font-size: 28px;
        color: #6d6d6d;
    }
}

.portfolio {
    &_title {
        @extend .trust_title;
    }
    &_image {
        box-shadow: 1px 1px 6px #797979;
    }
    &_caption {
        text-align: center;
        margin-top: 5px;
        font-family: "HelveticaNeueCyrThin";
    }
    &_btn {
        @extend .order-top_form_btn;
        width: 30%;
        margin: 50px auto;
    }
}

.benefits {
    background: url(../img/love.png) no-repeat center center;
    min-height: 600px;
    font-family: "HelveticaNeueCyrThin";
    &_title {
        @extend .trust_title;
        &_color {
            color: #ec008c;
        }
    }
    &_subtitle-1 {
        margin-left: 46px;
        text-transform: uppercase;
        margin-top: 38px;
        &:before {
            content: " ";
            position: absolute;
            top: 72px;
            left: 60px;
            background: url(../img/line1.png) no-repeat;
            width: 300px;
            height: 50px;
        }
    }
    &_subtitle-2 {
        @extend .benefits_subtitle-1;
        &:before {
            @extend .benefits_subtitle-1:before;
            top: 230px;
            left: 60px;
        }
    }
    &_subtitle-3 {
        @extend .benefits_subtitle-1;
        &:before {
            @extend .benefits_subtitle-1:before;
            top: 340px;
            left: 60px;
            background: url(../img/line3.png) no-repeat;
        }
    }
    &_subtitle-4 {
        @extend .benefits_subtitle-1;
        margin-left: 0px;
        margin-top: 23px;
        &:before {
            @extend .benefits_subtitle-1:before;
            top: 55px;
        left: -66px;
        background: url(../img/line4.png) no-repeat;
        width: 320px;
        height: 57px;
        }
    }
    &_subtitle-5 {
        @extend .benefits_subtitle-1;
        margin-left: 0px;
        margin-top: 23px;
        &:before {
            @extend .benefits_subtitle-1:before;
            top: 124px;
            left: -37px;
            background: url(../img/line5.png) no-repeat;
             height: 90px;

        }
    }
    &_subtitle-6 {
        margin-left: 0px;
        margin-top: 23px;
        @extend .benefits_subtitle-1;
        &:before {
            @extend .benefits_subtitle-1:before;
            top: 288px;
            left: -179px;
            background: url(../img/line6.png) no-repeat;
            width: 450px;
            height: 76px;
        }
    }
    &_desc-left {
        margin-left: 46px;
        margin-bottom: 65px;
    }
    &_desc-right {
        margin-bottom: 62px;
    }
}
.order-bottom {
    @extend .order-top;
    background: linear-gradient (top right, #e22e89, #ec44a2);
    &_title {
        @extend .order-top_title;
        font-size: 32px;
    }
    &_picture {
        @extend .order-top_picture;
        background: url(../img/picture-2.png) no-repeat bottom;
        height: 516px;
        margin-left: 64px;
        &_price {
            @extend .order-top_picture_price;
            top: 22px;
            right: -61px;
            width: 145px;
            height: 145px;
            &_text{
                @extend .order-top_picture_price_text;
                color: #fff;
                margin-top: 20px;
                &_color{
                    @extend .order-top_picture_price_text_color;
                }
            }
        }
        &_face{
            position: absolute;
            bottom: 30px;
            left: 89px;
            background: url(../img/face-child.png) no-repeat;
            width: 168px;
            height: 168px;
        }
    }
    &_form {
        @extend .order-top_form;
        margin: 21px 0 25px 102px;
        &:after {
            left: 79px;
            top: 61px;
        }
        &_title{
            @extend .order-top_form_title;
            color: #ec008c;
            margin: 5px;
        }
        &_caption{
            @extend .order-top_form_caption;
        }
        &_name{
            @extend .order-top_form_name;
            margin-top: 10px;
        }
        &_tel{
            @extend .order-top_form_tel;
        }
        &_email{
            @extend .order-top_form_email;
        }
        &_upload{
            @extend .order-top_form_upload;
        }
        &_btn{
            @extend .order-top_form_btn;
        }
        &_bottom-caption{
            @extend .order-top_form_bottom-caption;
        }
    }
}
.choose {
    background: url(../img/bg2.png) no-repeat bottom center;
    min-height: 628px;
    &_title {
        @extend .trust_title;
        margin-bottom: 4px;
        font-family: "HelveticaNeueCyrUltraLight";
    }
    &_subtitle {
        font-family: "HelveticaNeueCyrUltraLight";
        font-size: 24px;
        text-align: center;
        margin: 0px;
    }
    &_item {
        text-align: center;
        font-size: 18px;
        &_size {
            color: #7da5ad;
            font-size: 16px;
        }
        &_price {
            font-size: 38px;
            line-height: 32px;
        }
        &_old {
            text-decoration: line-through;
            color: #929292;
        }
    }
    &_btn {
        @extend .order-top_form_btn;
        max-width: 140px;
        padding: 10px;
        font-size: 14px;
    }
    &_image-1 {
        margin-left: 5px;
        margin-top: 17px;
    }
    &_image-2 {@extend .choose_image-1; margin-left: 18px;}
    &_image-3 {@extend .choose_image-1; margin-left: 14px;}
    &_image-4 {@extend .choose_image-1; margin-left: 27px;}
}

.comments {
    font-family: "HelveticaNeueCyrUltraLight";
    &_title {
        @extend .choose_title;
    }
    &_subtitle {
        @extend .choose_subtitle;
        margin-bottom: 50px;
    }
    &_icon {
        display: block;
        width: 37px;
        height: 28px;
        background: url(../img/icon-coment.png) no-repeat;
        margin: 0 auto;
    }
    &_text {
        text-align: center;
        color: #6d6d6d;
        font-family: "HelveticaNeueCyrThin";
    }
}

.vk {
    font-family: "HelveticaNeueCyrUltraLight";
    &_title{
        @extend .choose_title;
        font-size: 24px;
        margin-bottom: 0px;
    }
    &_subtitle{
        @extend .choose_subtitle;
        font-size: 18px;
        border-bottom: 1px solid #e90075;
        max-width: 300px;
        margin: 0 auto;
        padding-bottom: 18px;
    }
}
#vk_groups{
    margin: 27px auto 55px;
}

.work {
    font-family: "HelveticaNeueCyrUltraLight";
    &_title {
        @extend .choose_title;
    }
    &_caption {
        text-align: center;
        text-transform: uppercase;
        color: #ec008c;
        font-size: 24px;
        margin: 16px;
    }
    &_icon-1 {
        @extend .comments_icon;
        background: url(../img/icon-download.png) no-repeat;
        width: 75px;
        height: 70px;
    }
    &_icon-2 {
        @extend .work_icon-1;
        background: url(../img/icon-website.png) no-repeat;
        &:before {
            content: "";
            position: absolute;
            top: 91px;
            left: -144px;
            background: url(../img/work-line.png) no-repeat;
            height: 13px;
            width: 180%;
        }
    }
    &_icon-3 {
        @extend .work_icon-1;
        background: url(../img/icon-check.png) no-repeat;
    }
    &_text {
        text-align: center;
        color: #6d6d6d;
        font-family: "HelveticaNeueCyrThin";
    }
    &_bottom-caption {
        @extend .trust_caption;
        float: right;
        margin: 20px 0;
    }
}

.discount {
    background: #f54493;
        min-height: 180px;
    &_title {
        @extend .choose_title;
        color: #fff;
        font-size: 27px;
        margin-top: 16px;
            margin-bottom: 22px;
        &_line{
            text-decoration: underline;
            font-weight: bold;
            font-family: "HelveticaRegular";
        }
    }
    &_form {
        &_caption {
            font-size: 13px;
            color: #ffb3d0;
            line-height: 18px;
            font-family: "HelveticaNeueCyrThin";
            letter-spacing: 1px;
            
        }
        &_name {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: none;
        }
        &_phone {
            @extend .discount_form_name;
        }
        &_email {
            @extend .discount_form_name;
        }
        &_upload {
            border: none;
            display: block;
            border-radius: 7px;
            font-size: 14px;
            padding: 2px 10px 5px;
            float: left;
            margin-top: 8px;
            background-color: #9fc9eb;
        }
        &_btn {
            @extend .order-top_form_btn;
            width: 240px;
            padding: 10px 10px 15px;
            font-size: 20px;
        }
    }
}
.offset-block {
    width: 20%!important;
}


.footer {
    background-color: #202121;
    font-family: "HelveticaNeueCyrRoman";
    color: #898989;
    &_logo{
        display: block;
        max-width: 180px;
        text-decoration: none;
        font-size: 14px;
        margin: 35px 0;
        &:hover {
                text-decoration: none;
            }
        &_caption {
            padding-left: 15px;
            color: #898989;
        }
    }
    &_contacts {
        font-family: "HelveticaNeueCyrThin";
        margin-top: 35px;
        &_pin{
            display: block;
            float: left;
            width: 27px;
            height: 27px;
            background: url(../img/pin.png) no-repeat;
            margin-right: 10px;
        }
        &_mail{
            @extend .footer_contacts_pin;
            background: url(../img/mail.png) no-repeat;
        }
    }
    &_telephone {
        @extend .header_telephone;
        margin-top: 35px;
        &_numbers{
            @extend .header_telephone_numbers;
        }
    }
    &_cta {
        @extend .header_cta;
        margin-top: 35px;
    }
}






