/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .footer_cta, .header_cta {
        margin: 15px 5px 0 0;
        font-size: 12px;
    }
    .footer_cta {
        margin-top: 35px;
    }
    .footer_telephone_numbers, .header_telephone_numbers {
        font-size: 22px;
    }
    .footer_telephone, .header_telephone{
        width: 153px;
    }
    
    .trust_icon-money {
        margin: 15px 62px 34px 0;
    }
    .order-bottom_title {
        clear: both;
    }
    
    .portfolio_image {
        width: 120%;
    }
    
    .benefits_subtitle-1:before{
        left: 14px;
    }
    .benefits_subtitle-2:before {
        top: 226px!important;
        left: 14px;
    }
    .benefits_subtitle-3:before {
        top: 341px;
        left: -5px;
    }
    .benefits_subtitle-4:before {
        left: -40px;
    }
    .benefits_subtitle-5:before {
        left: -17px;
    }
    .benefits_subtitle-6:before {
        top: 308px;
        left: -179px;
    }
    .benefits_subtitle-2:before {
        top: 250px;
    }
    .benefits_subtitle-1, .benefits_subtitle-2, .benefits_subtitle-3 {
        margin-left: 0px;
    }
    .benefits_subtitle-4, .benefits_subtitle-5, .benefits_subtitle-6 {
        margin-left: 20px;
    }
    .benefits_desc-left {
        margin-left: 0;
    }
    .benefits_desc-right {
        margin-left: 25px;
    }
    
    .choose_image-1 {
        margin-left: -8px;
    }
    .choose_image-2 {
        margin-left: -3px;
    }
    .choose_image-3 {
        margin-left: 2px;
    }
    .choose_image-4 {
        margin-left: 8px;
    }
    
    .work_icon-2:before {
        display: none;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .file-upload-mod {
    width: 19%;
    margin-left: 65px;
}
    .footer_cta, .header_cta{
        display: none;
    }
    .header_logo_caption {
        font-size: 12px;
    }
    .header_icons_happy, .header_icons_return {
        margin: 10px -10px 10px 0;
    }
    .footer_logo {
        font-size: 12px;
    }
    
    .order-bottom_picture, .order-top_picture {
        margin-left: -26px;
        margin-top: -37px;
        width: 118%;
        background-size: 115%;
    }
    .order-bottom_picture_price, .order-top_picture_price {
        right: -15px;
    }
    .order-bottom_form, .order-top_form {
        margin: 1px -20px 10px 15px;
        font-size: 14px;
    }
    .order-bottom_form:after, .order-top_form:after {
        display: none;
    }
    .order-bottom_form_title, .order-top_form_title {
        font-size: 14px;
    }
    .order-bottom_form_bottom-caption, .order-top_form_bottom-caption {
        font-size: 12px;
    }
    .choose_btn, .discount_form_btn, .order-bottom_form_btn, .order-top_form_btn, .portfolio_btn {
        font-size: 19px;
    }
    
    .trust_icon, .trust_icon-commercial, .trust_icon-money {
        margin: 17px 30px 77px 0;
        width: 25%;
    }
    .trust_subtitle, .trust_subtitle-garntee, .trust_subtitle-money {
        font-size: 20px;
        margin: 25px 116px;
        width: 211px;
    }
    .trust_description {
        margin: -5px 0 44px;
    }
    .trust_icon-money {
        margin: 15px 27px 57px 0;
    }
    .benefits_subtitle-1:before, .benefits_subtitle-2:before, .benefits_subtitle-3:before, .benefits_subtitle-4:before, .benefits_subtitle-5:before, .benefits_subtitle-6:before {
        display: none;
    }
    .benefits_subtitle-4, .benefits_subtitle-5, .benefits_subtitle-6 {
        margin-left: 40px;
    }
    .benefits_desc-right {
        margin-left: 40px;
    }
    .benefits {
        background-size: 67%;
    }
    
    .choose_image-1, .choose_image-2, .choose_image-3, .choose_image-4 {
        width: 100%;
        margin: 15px 0;
    }
    .choose_item_price {
        font-size: 19px;
    }
    .choose_item_old {
        font-size: 14px;
    }
    .choose_btn{
        font-size: 14px;
        padding: 9px;
    }
    
    .discount_form_upload {
        margin: 8px 0 22px 28px;
    }
    .portfolio_btn {
        font-size: 17px;
    }
    .headhesive {
        display: none;
    }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    #DoneModal, #FormModal {
        width: 435px;
    }
    .file-upload-mod {
    width: 31%;
    margin-left: 24px;
}
    .header_icons{
        display: none;
    }
    .order-top_picture {
        display: none;
    }
    .footer_telephone_numbers, .header_telephone_numbers {
        font-size: 24px;
    }
    .header_logo {
        float: right;
    }
    .header_telephone {
        width: 180px;
        float: left;
    }
    .order-bottom_form, .order-top_form {
        max-width: 100%;
    }
    
    .trust_icon, .trust_icon-commercial, .trust_icon-money {
        margin: -10px 30px 18px 0;
    width: 15%;
    }
    .trust_subtitle, .trust_subtitle-garntee, .trust_subtitle-money {
        font-size: 20px;
    margin: 25px 144px;
    width: 60%;
    text-align: left;
    }
    .trust_description {
        margin: -5px 0 87px;
    text-align: left;
    }
    
    .portfolio_image {
    width: 100%;
    }
    .benefits_subtitle-1, .benefits_subtitle-2, .benefits_subtitle-3, .benefits_subtitle-4, .benefits_subtitle-5, .benefits_subtitle-6{
        margin-left: 0;
    }
    .benefits_desc-right {
        margin-left: 0;
        margin-bottom: 62px;
    }
    .benefits {
        background: none;
    }
    .offset-block {
        width: 100%!important;
    }
    .footer_logo {
        margin: 35px 0 0;
        float: right;
    }
    .footer_telephone {
        float: left;
        margin-bottom: 35px;
    }
    .footer_contacts {
        display: none;
    }
    #vk_groups,
    #vk_groups iframe {
        width: 100% !important;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    #DoneModal, #FormModal {
        width: 370px;;
    }
 .benefits_title, .choose_title, .comments_title, .discount_title, .order-bottom_title, .order-top_post-title, .order-top_title, .portfolio_title, .trust_title, .vk_title, .work_title {
        font-size: 18px;
    }
    .order-bottom_form, .order-top_form {
        margin: 0;
    }
    .trust_subtitle, .trust_subtitle-garntee, .trust_subtitle-money {
        margin: 25px 70px;
        width: 70%;
        font-size: 17px;
    }
    .trust_description {
        margin: -5px 0 44px;
    }
    .portfolio_btn {
        font-size: 19px;
        width: 90%;
        padding: 20px;
    }
    .choose_btn {
        padding: 15px;
    }
    .choose_item_price {
        font-size: 39px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    #DoneModal, #FormModal {
        width: 290px;;
    }
    .vk {
        display: none;
    }
    .header_logo {
        float: left;
        margin-left: 44px;
    }
    .footer_telephone, .header_telephone{
        margin-left: 44px;
    }
    .footer_logo {
        margin: 35px 40px 0;
    }
}