@font-face {
 font-family: HelveticaNeueCyrRoman; /* Имя шрифта */
 src: url(../fonts/HelveticaNeueCyrRoman.otf); /* Путь к файлу со шрифтом */
}
@font-face {
 font-family: HelveticaNeueCyrUltraLight; /* Имя шрифта */
 src: url(../fonts/HelveticaNeueCyrUltraLight.otf); /* Путь к файлу со шрифтом */
}
@font-face {
 font-family: HelveticaLight; /* Имя шрифта */
 src: url(../fonts/HelveticaLight.otf); /* Путь к файлу со шрифтом */
}
@font-face {
 font-family: HouseCasual; /* Имя шрифта */
 src: url(../fonts/HouseCasual.OTF); /* Путь к файлу со шрифтом */
}
@font-face {
 font-family: HelveticaRegular; /* Имя шрифта */
 src: url(../fonts/HelveticaRegular.otf); /* Путь к файлу со шрифтом */
}
@font-face {
 font-family: HelveticaNeueCyrThin; /* Имя шрифта */
 src: url(../fonts/helveticaneuecyr-thin.otf); /* Путь к файлу со шрифтом */
}