.file-upload {
     position: relative; /* Даем возможность делать позиционирование, внутри данного элемента */
     overflow: hidden; /* Все что выходит за пределы - скрываем */
     width: 37%;
     height: 30px;
     background: #63a2d8;
     border-radius: 3px;
     padding: 8px 4px;
     color: #534741;
     text-align: center;
     margin: 10px 5px 10px 34px;
    float: left;
}
.file-upload-mod{
    width: 13%;
    margin-left: 0;
}
.file-upload:hover {
     background: #438ECE;
}
.file-upload input[type="file"]{
    display: none; /* Обязательно скрываем настоящий Input File */
}
.file-upload label {
     /* Растягиваем label на всю возможную площадь блока .file-upload */
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     cursor: pointer;
}
.file-upload span {
     line-height: 29px; /* Делаем вертикальное выравнивание текста, который написан на кнопке */
}
.filename {
    background: none;
    border: none;
    margin-top: 12px;    
}