/*-------------------------------------------------*/
/* =  MAIN CONTENT
/*-------------------------------------------------*/
.content {
  font-family: "NexaLight", sans-serif;
  -moz-transition: all .6s ease-out;
  -o-transition: all .6s ease-out;
  -webkit-transition: all .6s ease-out;
  strong {
    font-family: "NexaBold", sans-serif;
  }
  /*-------------------------------------------------*/
  /* = HOME SECTION
  /*-------------------------------------------------*/
  &__home {
    margin-top: 150px;
    @include large-desktops {
      margin-top: 80px;
    }
    @include desktops {
      margin-top: 70px;
    }
    @include laptops {
      margin-top: 60px;
    }
    @include tablets {
      margin-top:50px;
    }
    @include phones {
      margin-top: 10px;
    }
    /*-------------------------------------------------*/
    /* = LOGO [PARALLAX]
    /*-------------------------------------------------*/
    &__scene {
      padding: 0;
      &__logo {
        text-align: center;
        &__image {
          width: 100%;
          max-width: 27em;
          @include desktops {
            max-width: 22em;
          }
        }
      }
    }
    /*-------------------------------------------------*/
    /* = SITE NAME
    /*-------------------------------------------------*/
    &__site-name {
      text-align: center;
      text-transform: uppercase;
      font-size: 3.3em;
      color: #fff;
      margin-top: .5em;
      margin-bottom: .5em;
      -moz-transition: all .3s ease-out;
      -o-transition: all .3s ease-out;
      -webkit-transition: all .3s ease-out;
      @include laptops {
        margin-top: .3em;
        margin-bottom: .3em;
      }
      @include phones {
        font-size: 2.5em;
      }
    }
    /*----------------------------------------------------*/
    /* = DESCRIPTION FOR ROWS [NEXT SECTION BLOCK - HOME]
    /*----------------------------------------------------*/
    &__scroll-description {
      text-align: center;
      text-transform: uppercase;
      font-family: "NexaBold", sans-serif;
      font-size: 1em;
      letter-spacing: .1em;
      color: #bebebe;
      margin: 0;
    }
  }
  /*----------------------------------------------------*/
  /* = ABOUT BLOCK
  /*----------------------------------------------------*/
  &__about {
    margin-top: 150px;
    @include large-desktops {
      margin-top: 100px;
    }
    @include desktops {
      margin-top: 90px;
    }
    @include laptops {
      margin-top: 75px;
    }
    @include tablets {
      margin-top:55px;
    }
    @include phones {
      margin-top: 10px;
    }
    &__image {
      width: 100%;
    }
    &__title {
      font-size:2em;
    }
    &__article {
      font-size:1.4em;
      -moz-transition: all .3s ease-out;
      -o-transition: all .3s ease-out;
      -webkit-transition: all .3s ease-out;
      @include laptops {
        font-size: 1.1em;
      }
      &__sign {
        font-family: "HouseCasual", sans-serif;
        font-size: 2em;
      }
    }
    /*-----------------------------------------------------*/
    /* = DESCRIPTION FOR ROWS [NEXT SECTION BLOCK - ABOUT]
    /*------------------------------------------------------*/
    &__scroll-description {
      margin-top: 30px;
      @extend .content__home__scroll-description;
    }
  }
  /*----------------------------------------------------*/
  /* = PORTFOLIO BLOCK
  /*----------------------------------------------------*/
  &__portfolio {
    position: relative;
    margin-top: 100px;
    color: white;
    @include large-desktops {
      margin-top: 80px;
    }
    @include desktops {
      margin-top: 70px;
    }
    @include laptops {
      margin-top: 60px;
    }
    @include tablets {
      margin-top:50px;
    }
    @include phones {
      margin-top: 10px;
    }
    &__title {
      text-align: center;
      font-size: 3em;
      letter-spacing: .1em;
      text-transform: uppercase;
      @include laptops {
        font-size: 2em;
      }
    }
    /*----------------------------------------------------*/
    /* = PORTFOLIO GALLERY
    /*----------------------------------------------------*/
    &__items {
      text-align: center;
      &__image {
        overflow:hidden;
        height: 190px;
        margin-bottom: 5%;

        @include laptops {
          height: 120px;
        }
        @include tablets {
          height: 320px;
        }
        @include phones {
          height: 227px;
        }
        img {
          touch-action: none;
          width: 100%;
          height: 220px;

          -moz-transition: all .5s ease-out;
          -o-transition: all .5s ease-out;
          -webkit-transition: all .5s ease-out;

          @include laptops {
            height: 150px;
          }
          @include tablets {
            height: 350px;
          }
          @include phones {
            height: 320px;
          }
          &:hover {

            -webkit-transform: scale(1.5);
            -moz-transform: scale(1.5);
            -o-transform: scale(1.5);
          }
        }

      }
    }
    /*--------------------------------------------------------*/
    /* = DESCRIPTION FOR ROWS [NEXT SECTION BLOCK - PORTFOLIO]
    /*--------------------------------------------------------*/
    &__scroll-description{
      @extend .content__home__scroll-description;
      margin-top: 30px;
    }
  }
  /*----------------------------------------------------*/
  /* = CONTACTS BLOCK
  /*----------------------------------------------------*/
  &__contacts {
    display: table-row;
    height: 100%;
    text-transform: uppercase;
    text-align: center;
    &__signs {
      font-size:1.5em;
    }
    &__email {
      font-size: 3em;
      margin: 0;
    }
    &__phone {
      font-size: 2em;
      margin: 0;
    }
    /*----------------------------------------------------*/
    /* = SOCIAL BLOCK
    /*----------------------------------------------------*/
    &__social {
      padding: 0;
      &__item {
        display: inline-block;
        padding-left: 13px;
        &:first-child {
          padding-left: 0;
        }
        &__fb {
          display: block;
          width: 38px;
          height: 38px;
          background: url('../image/social.png') no-repeat center;
          background-size: cover;
          background-position: 0px 0px;
          opacity: 1;
          -moz-transition: all .3s ease-out;
          -o-transition: all .3s ease-out;
          -webkit-transition: all .3s ease-out;
          &:hover {
            opacity: .7;
            -moz-transition: all .3s ease-out;
            -o-transition: all .3s ease-out;
            -webkit-transition: all .3s ease-out;
          }
        }
        &__tw {
          @extend .content__contacts__social__item__fb;
          background-position: -76px 0px;
        }
        &__in {
          @extend .content__contacts__social__item__fb;
          background-position: -38px 0px;
        }
      }
    }
    /*----------------------------------------------------*/
    /* = CONTACTS BLOCK - MARGIN TOP HEIGHT
    /*----------------------------------------------------*/
    .container {
      margin-top: 17em;
      @include large-desktops {
        margin-top: 80px;
      }
      @include desktops {
        margin-top: 70px;
      }
      @include laptops {
        margin-top: 60px;
      }
      @include tablets {
        margin-top:50px;
      }
      @include phones {
        margin-top: 10px;
      }
    }
  }
}
/*-------------------------------------------------*/
/* =  MAIN CONTENT END
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/* =  MOVE ROWS STYLE
/*-------------------------------------------------*/
.move-rows {
  position: relative;
  top: 0;
  left: 0;
  width: 17px;
  margin: 0 auto;

  &__row-1 {
    height: 17px;
    width: 17px;
    background-color: rgba(0,0,0,0);
    border: solid #bebebe;
    transform: rotate(-45deg);
    border-width: 0 0 3px 3px;
  }
  &__row-2 {
    @extend .move-rows__row-1;
    margin-top: -6px;
  }
}

/*-------------------------------------------------*/
/* = LIGHT BOX STYLE [GALLERY FOR PORTFOLIO]
/*-------------------------------------------------*/
#imagelightbox {
  position: fixed;
  z-index: 9999;

  -ms-touch-action: none;
  touch-action: none;

  cursor: pointer;
  :before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75);
  }
}