/*-------------------------------------------------*/
/* =  Header
/*-------------------------------------------------*/
.header {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100px;
  @include tablets {
    height: auto;
    background-color: rgba(246, 246, 246, 0.78);
  }
  &__navigation.container {
    border-bottom: 1px solid #E2E2E2;
  }
  /*-------------------------------------------------*/
  /* =  Header navigation
  /*-------------------------------------------------*/
  &__navigation {
    text-align: center;
    &__item {
      display: inline-block;
      padding: 40px 20px;
      color: #E2E2E2;
      text-decoration: none;
      text-transform: uppercase;
      font-family: "NexaLight", sans-serif;
      font-size: 1.72em;
      -moz-transition: all .6s ease-out;
      -o-transition: all .6s ease-out;
      -webkit-transition: all .6s ease-out;
      @include large-desktops {
        padding: 28px 15px;
      }
      @include desktops {
        padding: 25px 15px;
      }
      @include laptops {
        padding: 20px 15px;
      }
      @include tablets {
        padding: 8px 10px;
        color: #333333;
      }
      /*-------------------------------------------------*/
      /* =  Hide navigation for phone
      /*-------------------------------------------------*/
      @include phones {
        display: none;
        padding: 10px 10px;
      }
      &:hover {
        color: #BBBBBB;
        text-decoration: none;
        -moz-transition: all .6s ease-out;
        -o-transition: all .6s ease-out;
        -webkit-transition: all .6s ease-out;
      }
      &:focus {
        color: #BBBBBB;
        text-decoration: none;
      }
    }
  }
}
/*-------------------------------------------------*/
/* =  Header end
/*-------------------------------------------------*/
