@import "media";
@import "typography";


html,
body {
  height: 100%;
}
/*-------------------------------------------------*/
/* =  BACKGROUND FOR SECTIONS
/*-------------------------------------------------*/
  .bg1 {
  background: url('../image/bg1.jpg') no-repeat;
  background-size: cover;

}
.bg3 {
  background: url('../image/bg2.jpg') no-repeat;
  background-size: cover;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75);
  }
}
/*-------------------------------------------------*/
/* =  FOOTER TO BOTTOM FIX
/*-------------------------------------------------*/
.bg4 {
  display: table;
  height: 100%;
}

#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 100500;
}

@import "header";
@import "content";
@import "footer";



