.auto {
    position: relative;
    &_header{
        position: relative;
        z-index: 2;
        height: 130px; 
        &_categoties {
            margin: 5px 0 0 15px;
            float: left;
            &_menu {
                margin: 0;
                padding: 0;
                &_item{
                    display: inline-block;
                    width: 50px;
                    margin-right: 28px;
                    &_img{
                        cursor: pointer;
                        margin-bottom: 5px;
                    }
                    &_link{
                        display: block;
                        text-align: center;
                        font-family: 'BebasNeue_Bold';
                        color: #fff;
                        font-size: 14px;
                        text-decoration: none;
                        &:hover{
                            color: #00deff;
                        }
                    }
                }
            }
        }

        &_social {
            float: right;
            &_list {
                list-style: none;
                padding-left: 0;
                &_item {
                    display: inline-block;
                    &_link{
                        display: block;
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
        &_lang {
            position: absolute;
            right: 30px;
            top: 80px;
            &_link{
                font-family: 'BebasNeue_Bold';
                color: #282828;
                text-decoration: none;
                &:hover {
                    color: #00deff;
                }
            }
        }
    }
    
    
    &_content{
        position: relative;
        height: 100%;
        &_promo{
            position: absolute;
            top: 91px;
            left: 91px;
            font-family: 'BebasNeue_Bold';
            z-index: 1;
            &_pre-title{
                color: #fff;
                margin: 0;
                text-shadow: 6px 7px 16px rgb(88, 88, 88);            
                font-size: 56px;
            }
            &_title {
                @extend .auto_content_promo_pre-title;
                font-size: 116px;
            }
            &_post-title {
                @extend .auto_content_promo_pre-title;
                font-size: 36px;
                float: right;
            }        
        }
        &_description {
            position: relative;
            top: 343px;
            left: 129px;
            width: 700px;
            font-family: 'BebasNeue_Book';
            &_caption {
                font-family: 'BebasNeue_Bold';
                color: #eaff00;
                font-size: 22px;
                padding-left: 16px;
                margin-bottom: 0;
            }
            &_list {
                color: #fff;
                padding-left: 16px;
                &_item {
                    letter-spacing: 1px;
                    line-height: 24px;
                    font-size: 20px;
                }
            }
        }
    } 
}