.dinner {
    position: relative;
    &_header{
        position: relative;
        z-index: 2;
        height: 130px; 
        &_categoties {
            margin: 5px 0 0 15px;
            float: left;
            &_menu {
                margin: 0;
                padding: 0;
                &_item{
                    display: inline-block;
                    width: 50px;
                    margin-right: 28px;
                    &_img{
                        cursor: pointer;
                        margin-bottom: 5px;
                    }
                    &_link{
                        display: block;
                        text-align: center;
                        font-family: 'BebasNeue_Bold';
                        color: #fff;
                        font-size: 14px;
                        text-decoration: none;
                        &:hover{
                            color: #777300;
                        }
                    }
                }
            }
        }

        &_social {
            float: right;
            &_list {
                list-style: none;
                padding-left: 0;
                &_item {
                    display: inline-block;
                    &_link{
                        display: block;
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
        &_lang {
            position: absolute;
            right: 30px;
            top: 80px;
            &_link{
                font-family: 'BebasNeue_Bold';
                color: #282828;
                text-decoration: none;
                &:hover {
                    color: #777300;
                }
            }
        }
    }
    
    
    &_content{
        position: relative;
        height: 100%;
        &_promo{
            position: absolute;
            top: 91px;
            left: 91px;
            font-family: 'BebasNeue_Bold';
            z-index: 1;
            &_pre-title{
                color: #fff;
                font-size: 124px;
                margin: 0;
                text-shadow: 6px 7px 16px rgb(88, 88, 88);                
                font-size: 34px;
            }
            &_title {
                @extend .dinner_content_promo_pre-title;
                font-size: 124px;
            }
            &_post-title {
                @extend .dinner_content_promo_pre-title;
                font-size: 34px;
                float: right;
            }        
         
        }
        &_excerpt{
            position: absolute;
            top: 309px;
            left: 247px;
            width: 455px;
            z-index: 1;
            &_title{
                display: block;
                position: relative;
                right: 74px;
                font-size: 18px;
                text-align: center;
                font-family: 'BebasNeue_Bold';  
                color: #000;
            }
            :before{
                content: "[";
                position: absolute;
                top: -39px;
                left: -38px;
                font-size: 116px;
                font-family: "BebasNeue_Book";
            }
            :after{
                content: "]";
                position: absolute;
                top: -39px;
                left: 457px;
                font-size: 116px;
                font-family: "BebasNeue_Book";
            }
        }
        &_benefits{
            position: absolute;
            top: 515px;
            &_icons{
                margin: 0;
                padding: 0;
                &_item{
                    display: inline-block;
                    margin-right: 18px;                   
                    &_text{
                        display: block;
                        font-family: 'BebasNeue_Bold';
                        color: #000;
                        font-size: 13px;
                        padding-top: 64px;
                        text-align: center;
                        &:hover {
                            color: #777300;
                        }
                    }
                }
            }
        }        
    }   
}