.friend {
    position: relative;
    &_header{
        position: relative;
        z-index: 2;
        height: 130px; 
        &_categoties {
            margin: 5px 0 0 15px;
            float: left;
            &_menu {
                margin: 0;
                padding: 0;
                &_item{
                    display: inline-block;
                    width: 50px;
                    margin-right: 28px;
                    &_img{
                        cursor: pointer;
                        margin-bottom: 5px;
                    }
                    &_link{
                        display: block;
                        text-align: center;
                        font-family: 'BebasNeue_Bold';
                        color: #fff;
                        font-size: 14px;
                        text-decoration: none;
                        &:hover{
                            color: #80fc00;
                        }
                    }
                }
            }
        }

        &_social {
            float: right;
            &_list {
                list-style: none;
                padding-left: 0;
                &_item {
                    display: inline-block;
                    &_link{
                        display: block;
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
        &_lang {
            position: absolute;
            right: 30px;
            top: 80px;
            &_link{
                font-family: 'BebasNeue_Bold';
                color: #282828;
                text-decoration: none;
                &:hover {
                    color: #80fc00;
                }
            }
        }
    }
    
    
    &_content{
        position: relative;
        min-height: 100%;
        &_promo{
            position: absolute;
            top: 91px;
            left: 91px;
            font-family: 'BebasNeue_Bold';
            z-index: 1;
            &_pre-title{
                color: #fff;
                margin: 0;
                text-shadow: 6px 7px 16px rgb(88, 88, 88);            
                font-size: 56px;
            }
            &_title {
                @extend .love_content_promo_pre-title;
                font-size: 134px;
            }
            &_post-title {
                @extend .love_content_promo_pre-title;
                font-size: 42px;
                color: #748e24;
                float: right;
                text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.33);
            }        
         
        }
        &_excerpt{
            position: absolute;
            top: 328px;
            left: 359px;
            width: 370px;
            z-index: 1;
            &_title{
                display: block;
                position: relative;
                top: 20px;
                right: 74px;
                font-size: 26px;
                text-align: center;
                font-family: 'BebasNeue_Book';  
                color: #000;
            }
            :before{
                content: "[";
                position: absolute;
                top: -33px;
                left: -30px;
                font-size: 137px;
            }
            :after{
                content: "]";
                position: absolute;
                top: -33px;
                left: 371px;
                font-size: 137px;
            }
        }
        &_benefits{
            position: absolute;
            top: 550px; 
            &_icons{
                margin: 0;
                padding: 0;
                &_item{
                    display: inline-block;
                    margin-right: 16px;                   
                    &_text{
                        display: block;
                        font-family: 'BebasNeue_Bold';
                        color: #fff;
                        font-size: 13px;
                        padding-top: 74px;
                        text-align: center;
                        &:hover{
                            color: #80fc00;
                        }
                    }
                }
            }
        }        
    }
    
}