.icon_vk{
    background-image: url(../img/social_icon.png);
    background-repeat: no-repeat;
    background-position: -485px, -5px;
    text-indent: -9999px;
    &:hover{
        background-position: -545px, -5px;    
    }
}
.icon_google {
    @extend .icon_vk;
    background-position: -125px, -5px;
    &:hover{
        background-position: -185px, -5px;    
    }
}
.icon_tw {
    @extend .icon_vk;
    background-position: -365px, -5px;
    &:hover{
        background-position: -425px, -5px;    
    }
}
.icon_fb {
    @extend .icon_vk;
    background-position: -5px, -5px;
    &:hover{
        background-position: -65px, -5px;    
    }
}
.icon_od {
    @extend .icon_vk;
    background-position: -245px, -5px;
    &:hover{
        background-position: -305px, -5px;    
    }
}

.icon-mail {
    position: relative;
    left: 12px;
    display: block;
    float: left;
    width: 48px;
    height: 50px;
    background: url(../img/mail_icon.png) no-repeat #4d4d4d center;
}

.sports{
    background-image: url(../img/love-ben.png);
    background-repeat: no-repeat;
    background-position: -678px, -5px;    
}
.art{
    @extend .sports;
    background-position: -378px, -5px; 
}
.science{
    @extend .sports;
    background-position: -5px, -5px; 
}
.business{
    @extend .sports;
    background-position: -154px, -5px; 
}
.car{
    @extend .sports;
    background-position: -229px, -5px; 
}
.family{
    @extend .sports;
    background-position: -603px, -5px; 
}
.careers{
    @extend .sports;
    background-position: -304px, -5px; 
}
.self-development{
    @extend .sports;
    background-position: -528px, -5px; 
}
.technology{
    @extend .sports;
    background-position: -79px, -5px; 
}
.travel{
    @extend .sports;
    background-position: -453px, -5px; 
}


.beer {
    background-image: url(../img/friend-icon.png);
    background-repeat: no-repeat;
    display: block;
    width: 39px;
    height: 55px;
    background-position: -5px -5px;
}

.board {
    @extend .beer;
    width: 53px;
    height: 57px;
    background-position: -54px -5px;
}

.console {
    @extend .beer;
    width: 57px;
    height: 57px;
    background-position: -117px -5px;
}

.conversation {
    @extend .beer;
    width: 65px;
    height: 53px;
    background-position: -5px -72px;
}

.cooking {
    @extend .beer;
    width: 48px;
    height: 56px;
    background-position: -184px -5px;
}

.fishing {
    @extend .beer;
    width: 52px;
    height: 56px;
    background-position: -184px -71px;
}

.instruments {
    @extend .beer;
    width: 68px;
    height: 53px;
    background-position: -80px -72px;
}

.karaoke {
    @extend .beer;
    width: 44px;
    height: 53px;
    background-position: -5px -137px;
}

.movies {
    @extend .beer;
    width: 70px;
    height: 53px;
    background-position: -59px -137px;
}

.photoshoot {
    @extend .beer;
    width: 63px;
    height: 51px;
    background-position: -139px -137px;
}

.poker {
    @extend .beer;
    width: 50px;
    height: 55px;
    background-position: -242px -5px;
}

.shopping {
    @extend .beer;
    width: 54px;
    height: 55px;
    background-position: -246px -70px;
}

.tv {
    @extend .beer;
    width: 76px;
    height: 53px;
    background-position: -212px -137px;
}

.walk {
    @extend .beer;
    width: 47px;
    height: 53px;
    background-position: -5px -200px;
}

.workout {
    @extend .beer;
    width: 59px;
    height: 55px;
    background-position: -62px -200px;
}


.sprite-69 {
    background-image: url(../img/sex-icon.png);
    background-repeat: no-repeat;
    display: block;    
    width: 57px;
    height: 27px;
    background-position: -5px -5px;
}

.sprite-classic {
    @extend .sprite-69;
    width: 59px;
    height: 26px;
    background-position: -72px -5px;
}

.sprite-classic-zadom {
    @extend .sprite-69;
    width: 58px;
    height: 29px;
    background-position: -141px -5px;
}

.sprite-derzhit-na-rukah {
    @extend .sprite-69;
    width: 29px;
    height: 61px;
    background-position: -5px -44px;
}

.sprite-kuni {
    @extend .sprite-69;
    width: 75px;
    height: 30px;
    background-position: -44px -44px;
}

.sprite-minet {
    @extend .sprite-69;
    width: 71px;
    height: 26px;
    background-position: -44px -84px;
}

.sprite-minet-na-kolenyah {
    @extend .sprite-69;
    width: 44px;
    height: 66px;
    background-position: -129px -44px;
}

.sprite-rakom {
    @extend .sprite-69;
    width: 54px;
    height: 40px;
    background-position: -5px -120px;
}

.sprite-rakom-stoya {
    @extend .sprite-69;
    width: 41px;
    height: 64px;
    background-position: -69px -120px;
}

.sprite-sidit-peredom {
    @extend .sprite-69;
    width: 62px;
    height: 44px;
    background-position: -120px -120px;
}

.sprite-sidit-zadom {
    @extend .sprite-69;
    width: 58px;
    height: 40px;
    background-position: -209px -5px;
}

.sprite-sidya {
    @extend .sprite-69;
    width: 44px;
    height: 41px;
    background-position: -183px -55px;
}

.sprite-szadi-stoya {
    @extend .sprite-69;
    width: 38px;
    height: 61px;
    background-position: -192px -106px;
}


.tag-1 {
    background-image: url(../img/tag-icon.png);
    background-repeat: no-repeat;
    display: block;
    width: 46px;
    height: 20px;
    background-position: -5px -5px;
}

.tag-2 {
    @extend .tag-1;
    width: 46px;
    height: 20px;
    background-position: -61px -5px;
}

.tag-3 {
@extend .tag-1;
    width: 76px;
    height: 20px;
    background-position: -117px -5px;
}

.tag-4 {
@extend .tag-1;
    width: 72px;
    height: 20px;
    background-position: -203px -5px;
}

.tag-5 {
@extend .tag-1;
    width: 71px;
    height: 20px;
    background-position: -5px -35px;
}

.tag-6 {
@extend .tag-1;
    width: 67px;
    height: 20px;
    background-position: -86px -35px;
}

.tag-7 {
@extend .tag-1;
    width: 118px;
    height: 20px;
    background-position: -163px -35px;
}

.tag- 8{
@extend .tag-1;
    width: 101px;
    height: 20px;
    background-position: -5px -65px;
}

.tag-9 {
@extend .tag-1;
    width: 58px;
    height: 20px;
    background-position: -116px -65px;
}

.tag-10 {
@extend .tag-1;
    width: 99px;
    height: 20px;
    background-position: -184px -65px;
}

.tag-11 {
@extend .tag-1;
    width: 52px;
    height: 20px;
    background-position: -5px -95px;
}

.tag-12 {
@extend .tag-1;
    width: 51px;
    height: 20px;
    background-position: -67px -95px;
}

.tag-13 {
@extend .tag-1;
    width: 46px;
    height: 20px;
    background-position: -128px -95px;
}

.tag-14 {
@extend .tag-1;
    width: 69px;
    height: 21px;
    background-position: -184px -95px;
}

.tag-15 {
@extend .tag-1;
    width: 72px;
    height: 20px;
    background-position: -5px -126px;
}

.tag-16 {
@extend .tag-1;
    width: 115px;
    height: 20px;
    background-position: -87px -126px;
}

.tag-17 {
@extend .tag-1;
    width: 53px;
    height: 19px;
    background-position: -212px -126px;
}

.tag-18 {
@extend .tag-1;
    width: 43px;
    height: 21px;
    background-position: -212px -155px;
}

.tag-19 {
@extend .tag-1;
    width: 74px;
    height: 20px;
    background-position: -5px -156px;
}

.tag-20 {
@extend .tag-1;
    width: 61px;
    height: 20px;
    background-position: -5px -186px;
}

.tag-21 {
@extend .tag-1;
    width: 63px;
    height: 21px;
    background-position: -76px -186px;
}

.tag-22 {
@extend .tag-1;
    width: 73px;
    height: 20px;
    background-position: -89px -156px;
}

.tag-23 {
@extend .tag-1;
    width: 92px;
    height: 20px;
    background-position: -149px -186px;
}

.tag-24 {
@extend .tag-1;
    width: 70px;
    height: 20px;
    background-position: -149px -216px;
}

.tag-25 {
@extend .tag-1;
    width: 59px;
    height: 20px;
    background-position: -5px -216px;
}

.tag-26 {
@extend .tag-1;
    width: 87px;
    height: 20px;
    background-position: -5px -246px;
}

.tag-27 {
@extend .tag-1;
    width: 73px;
    height: 20px;
    background-position: -102px -246px;
}

.tag-28 {
@extend .tag-1;
    width: 97px;
    height: 21px;
    background-position: -185px -246px;
}

.tag-29 {
@extend .tag-1;
    width: 83px;
    height: 21px;
    background-position: -291px -5px;
}

.tag-30 {
@extend .tag-1;
    width: 59px;
    height: 20px;
    background-position: -293px -36px;
}

.tag-31 {
@extend .tag-1;
    width: 92px;
    height: 20px;
    background-position: -263px -95px;
}

.tag-32 {
@extend .tag-1;
    width: 97px;
    height: 20px;
    background-position: -275px -125px;
}

.tag-33 {
@extend .tag-1;
    width: 90px;
    height: 20px;
    background-position: -265px -155px;
}
/********************************************/

.din-1 {
    background-image: url(../img/dinner-icon.png);
    background-repeat: no-repeat;
    display: block;
    width: 40px;
    height: 52px;
    background-position: -5px -5px;
}

.din-10 {
@extend .din-1;
    width: 49px;
    height: 49px;
    background-position: -55px -5px;
}

.din-11 {
@extend .din-1;
    width: 48px;
    height: 49px;
    background-position: -114px -5px;
}

.din-12 {
@extend .din-1;
    width: 48px;
    height: 49px;
    background-position: -55px -64px;
}

.din-13 {
@extend .din-1;
    width: 46px;
    height: 48px;
    background-position: -113px -64px;
}

.din-14 {
@extend .din-1;
    width: 32px;
    height: 49px;
    background-position: -172px -5px;
}

.din-2 {
@extend .din-1;
    width: 52px;
    height: 52px;
    background-position: -113px -122px;
}

.din-3 {
@extend .din-1;
    width: 43px;
    height: 51px;
    background-position: -214px -5px;
}

.din-4 {
@extend .din-1;
    width: 53px;
    height: 51px;
    background-position: -175px -66px;
}

.din-5 {
@extend .din-1;
    width: 56px;
    height: 50px;
    background-position: -5px -127px;
}

.din-6 {
@extend .din-1;
    width: 55px;
    height: 48px;
    background-position: -175px -127px;
}

.din-7 {
@extend .din-1;
    width: 50px;
    height: 48px;
    background-position: -71px -185px;
}

.din-8 {
@extend .din-1;
    width: 49px;
    height: 49px;
    background-position: -131px -185px;
}

.din-9 {
@extend .din-1;
    width: 62px;
    height: 50px;
    background-position: -190px -185px;
}