.love {
    position: relative;
    &_header{
        position: relative;
        z-index: 2;
        height: 130px; 
        &_categoties {
            margin: 0 0 0 15px;
            float: left;
            &_menu {
                margin: 0;
                padding: 0;
                &_item{
                    display: inline-block;
                    width: 50px;
                    margin-right: 26px;
                    &_img{
                        cursor: pointer;
                        margin-bottom: 5px;
                    }
                    &_link{
                        display: block;
                        text-align: center;
                        font-family: 'BebasNeue_Bold';
                        color: #fff;
                        font-size: 14px;
                        text-decoration: none;
                        &:hover{
                            color: #85193a;
                        }
                    }
                }
            }
        }

        &_social {
            float: right;
            &_list {
                list-style: none;
                padding-left: 0;
                &_item {
                    display: inline-block;
                    &_link{
                        display: block;
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
        &_lang {
            position: absolute;
            right: 30px;
            top: 80px;
            &_link{
                font-family: 'BebasNeue_Bold';
                color: #282828;
                text-decoration: none;
                &:hover {
                    color: #85193a;
                }
            }
        }
    }
    
    
    &_content{
        position: relative;
        height: 100%;
        &_promo{
            position: absolute;
            top: 91px;
            left: 91px;
            font-family: 'BebasNeue_Bold';
            z-index: 1;
            &_pre-title{
                color: #fff;
                font-size: 124px;
                margin: 0;
                text-shadow: 6px 7px 16px rgb(88, 88, 88);                
                font-size: 34px;
            }
            &_title {
                @extend .love_content_promo_pre-title;
                font-size: 124px;
            }
            &_post-title {
                @extend .love_content_promo_pre-title;
                font-size: 34px;
                float: right;
            }        
         
        }
        &_excerpt{
            position: absolute;
            top: 309px;
            left: 247px;
            width: 451px;
            z-index: 1;
            &_title{
                display: block;
                position: relative;
                right: 74px;
                font-size: 28px;
                text-align: center;
                font-family: 'BebasNeue_Book';  
                color: #fff;
            }
            :before{
                content: "[";
                position: absolute;
                top: -43px;
                left: -38px;
                font-size: 157px;
            }
            :after{
                content: "]";
                position: absolute;
                top: -43px;
                left: 451px;
                font-size: 157px;
            }
        }
        &_lovers{
            position: absolute;
            bottom: 0px;
            right: 69px;
            background: url(../img/lovers.png) no-repeat;
            width: 434px;
            background-size: contain;
            height: 677px;
            z-index: 0;
        }
        &_benefits{
            position: absolute;
            top: 500px;
            width: 820px; 
            &_title{
                font-family: 'BebasNeue_Book';
                font-size: 19px;
                color: #fff;
            }
            &_icons{
                margin: 0;
                padding: 0;
                &_item{
                    display: inline-block;
                    width: 65px;
                    height: 85px;
                    margin-right: 11px;                   
                    &_text{
                        display: block;
                        font-family: 'BebasNeue_Bold';
                        color: #fff;
                        font-size: 13px;
                        padding-top: 98px;
                        text-align: center;
                        &:hover {
                            color: #85193a;
                        }
                    }
                }
            }
        }        
    }
    
}