.main {
    &_header{
        position: relative;
        height: 132px;
        background: linear-gradient(to right, rgba(0, 55, 102, 0.17), rgba(0, 55, 102, 0));
        &_categoties {
            margin: 25px 0 0 15px;
            float: left;
            &_menu {
                margin: 0;
                padding: 0;
                &_item{
                    display: inline-block;
                    width: 50px;
                    margin-right: 18px;
                    &_img{
                        cursor: pointer;
                        margin-bottom: 10px;
                    }
                    &_link{
                        display: block;
                        text-align: center;
                        font-family: 'BebasNeue_Bold';
                        color: #000000;
                        font-size: 14px;
                        text-decoration: none;
                        &:hover{
                            color: #d20076;
                        }
                    }
                }
            }
            &_caption {
                position: absolute;
                left: 64px;
                top: 132px;
                height: 47px;
                width: 555px;
                background: url(../img/back_coc.png);
                &_text {
                    display: inline-block;
                    padding: 13px 0 0 32px;
                    font-family: 'DISCO';
                    color: #000000;
                    font-size: 24px;     
                    letter-spacing: 4px;
                }
            }
        }
        &_call-to-action {
            float: left;
            width: 388px;
            margin-top: 28px;
            margin-left: 25px;
            font-family: 'BebasNeue_Bold';
            &_first-text{
                float: left;
                padding: 10px;
                font-size: 62px;
                color: #d20076;
            }
            &_second-text{
                font-size: 18px;
            }
            &:after {
                content: "";
                position: absolute;
                top: 95px;
                left: 473px;
                background: url("../img/arrow.png") no-repeat;
                background-size: 174px;
                height: 67px;
                width: 176px;
            }
        }
        &_social {
            position: relative;
            float: right;
            z-index: 2;
            &_list {
                list-style: none;
                padding-left: 0;
                &_item {
                    display: inline-block;
                    &_link{
                        display: block;
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
        &_lang {
            position: absolute;
            right: 30px;
            top: 80px;
            z-index: 2;
            &_link{
                font-family: 'BebasNeue_Bold';
                color: #282828;
                text-decoration: none;
                &:hover {
                    color: #d20076;
                }
            }
        }
    }
    
    &_content{
        position: relative;
        height: 100%;
        &_promo{
            position: absolute;
            top: 116px;
            left: 91px;
            &_pre-title{
                font-family: 'DISCO';
                margin: 0;
                font-size: 19px;
                line-height: 30px;
                letter-spacing: 4px;
                &_second-text{
                    font-family: 'Couture';
                    font-size: 22px;
                    color: #653960;
                    letter-spacing: 3px;
                }
            }
            &_title {
                font-family: 'BebasNeue_Bold';
                color: #fff;
                font-size: 192px;
                margin: 0;
                text-shadow: 6px 7px 16px rgb(88, 88, 88);
            }
            &_post-title {
                font-family: 'Allura';
                margin: -40px 0 0 335px;
                font-size: 30px;
                color: #444444;
            }
        }
        &_subscribe{
            position: absolute;
            top: 432px;
            left: 165px;
            width: 346px;
            padding: 20px 25px;
            border-top: 2px solid #4d4d4d;
            border-bottom: 2px solid #4d4d4d;
            &_title{
                position: relative;
                right: 74px;
                width: 492px;
                font-size: 20px;
                text-align: center;
                font-family: 'BebasNeue_Bold';               
            }
            &_form{
                text-align: center;
                &_textarea{
                    background-color: rgba(255, 255, 255, 0);
                    border: 2px solid #4d4d4d;
                    height: 46px;
                    width: 170px;
                    padding: 0;
                    font-family: 'BebasNeue_Book';
                    color: #4d4d4d;                        
                }
                &_button{
                    background-color: rgba(255, 255, 255, 0);
                    border: 2px solid #4d4d4d;
                    border-left: none;
                    height: 50px;
                    width: 100px;
                    padding: 0 6px;
                    margin-left: -5px;
                    font-family: 'BebasNeue_Bold';
                    font-size: 18px;
                    &:hover{
                        color: #d20076;
                    }
                }
            }
            &_notification{
                font-family: 'DISCO';
                letter-spacing: 2px;
                font-size: 12px;
                text-align: center;
            }
        }
        &_mobile{
            position: absolute;
            top: 72px;
            right: -20px;
            background: url(../img/hand_mobile.png) no-repeat;
            width: 531px;
            background-size: contain;
            height: 789px;
            font-family: 'BebasNeue_Book';
            &_timer {
                position: relative;
                top: 508px;
                left: 8px;              
            }
            &_app-download {
                position: relative;
                top: 514px;
                display: block;
                background-color: #8c88ff;
                width: 303px;
                margin: 0 auto;
                text-align: center;
                font-size: 18px;
                color: #fff;
                padding: 6px 0;
                text-decoration: none;
                border-radius: 2px;
                box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.34);
                &:hover{
                    background-color: #787793;
                    
                }
                &:active{
                    background-color: #787793;
                    
                }
            }
        }
    }
}
.container-message{text-align: center;
    color: #fff;
    font-family: 'BebasNeue_Bold';
    position: absolute;
    top: 5px;
    background: #d20076;
    opacity: 0.8;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 6px #3C3C3C;
    &:hover {
        opacity: 1;
    }
}
.container-message_close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    cursor: pointer;
}