@media screen and (max-width: 1238px) {
    .container {
        min-width: 1160px;
    }
    .main_content_mobile {
        height: 650px;
    }
    .main_content_mobile_timer {
        top: 415px;
        left: -40px;
    }
    .main_content_mobile_app-download {
        top: 418px;
        width: 243px;
        margin: 0 97px;
        padding: 3px 0;
        font-size: 17px;
    }
    .main_header_call-to-action{
        width: 325px;    
    }
    .main_header_call-to-action_first-text {
        padding: 22px 10px 0;
        font-size: 54px;   
    }
}
@media screen and (max-height: 768px) {
    .main_content_mobile {
        height: 539px;
    }
    .main_content_promo {
        top: 77px;
    }
    .main_content_promo_title {
        font-size: 156px;
    }
    .main_content_subscribe{
        top: 353px;
    }
    .main_content_mobile_timer {
        top: 339px;
        left: -81px;
    }

}
    

@media screen and (max-height: 820px) {
    .main_content_mobile {
        height: 599px;
    }
    .main_content_mobile_timer{
        top: 380px;
        left: -66px;
    }
    .main_content_mobile_app-download {
        top: 382px;
        width: 224px;
        margin: 0 90px;
        padding: 3px 0;
        font-size: 17px;
    }    
}
@media screen and (max-height: 660px) {
    .main_content_mobile {       
        height: 493px;
        top: 25px;
    }
    .main_content_mobile_timer{
        top: 309px;
        left: -96px;
    }
    .main_content_mobile_app-download {
        top: 309px;
        width: 184px;
        margin: 0 74px;
        padding: 1px 0;
        font-size: 14px;
    }
    .main_content_promo_title {
        font-size: 132px;
    }    
    .main_content_promo_post-title {
        margin: -40px 0 0 266px;
        font-size: 26px;
    }    
    .main_content_subscribe {
        top: 294px;
        padding: 0px 25px;
    }
    .news_content_news_articles {
        padding: 38px 0 0 65px;
    }
}