.separator{
    font-family: 'BebasNeue_Bold';
    color: #fff;
    font-size: 16px;
    
}
.news {
    position: relative;
    &_header{
        position: relative;
        z-index: 2;
        height: 130px; 
        &_categoties {
            margin: 20px 0 0 15px;
            float: left;
            &_menu {
                margin: 0;
                padding: 0;
                &_item{
                    display: inline-block;
                    width: 50px;
                    margin-right: 28px;
                    &_img{
                        cursor: pointer;
                        margin-bottom: 5px;
                    }
                    &_link{
                        display: block;
                        text-align: center;
                        font-family: 'BebasNeue_Bold';
                        color: #fff;
                        font-size: 14px;
                        text-decoration: none;
                        &:hover{
                            color: #58ff2f;
                        }
                    }
                }
            }
        }
        &_nav-news{
            padding: 62px 0 0 0;
            float: left;
            &_item-app{
                font-family: 'BebasNeue_Bold';
                color: #fff;
                font-size: 18px;     
                text-decoration: none;
            }
            &_item {
                @extend .news_header_nav-news_item-app;
            }
        }
    }
    
    
    &_content{
        position: relative;
        height: 100%;
        font-family: 'BebasNeue_Bold';
        &_news{
            position: absolute;
            top: 50px;
            z-index: 1;
            &_title{
                font-size: 116px;
                color: #fff;
                margin: 0 90px;
            }
            &_post-title {
                position: absolute;
                left: 196px;
                margin: -22px 0 0;                
                font-size: 18px;
                color: #e8ff29;
            }
            &_articles {
                background: url(../img/news-bg.png) no-repeat;
                background-size: 92%;
                width: 705px;
                height: 560px;
                padding: 50px 0 0 90px;;
            }
        }   
        &_feedback{
            @extend .news_content_news;
            right: 0px;
            &_title{
                @extend .news_content_news_title;
            }
            &_post-title {
                @extend .news_content_news_post-title;
                left: 292px;
            }
            &_form{
                background: url(../img/feedback-bg.png) no-repeat;
                background-size: 100%;
                width: 521px;
                height: 485px;
                &_block {
                    width: 300px;
                    padding: 30px 0 0 105px;
                    &_title{
                        font-size: 16px;
                        color: #388b8e;
                        margin-bottom: 10px;
                    }
                    &_input{
                        background: none;
                        border:none;
                        border-bottom: 1px solid #777;
                        width: 100%;
                        color: #323232;
                        font-size: 22px;
                        margin-bottom: 20px;
                        &:focus{
                            outline: none;
                        }
                    }
                    &_textarea {
                        resize: none;
                        color: #323232;
                        &:focus{
                            outline: none;
                        }
                    }
                    &_btn {
                        float: right;
                        background: none;
                        border: none;
                        color: #388b8e;
                        font-size: 33px;
                        &:hover {
                            color: #309392;
                        }
                        &:focus{
                            outline: none;
                        }
                    }
                }
            }
        }
    }   
}