.separator{
    font-family: 'BebasNeue_Bold';
    color: #fff;
    font-size: 16px;
    
}
.screens {
    position: relative;
    &_header{
        position: relative;
        z-index: 2;
        height: 130px; 
        &_categoties {
            margin: 20px 0 0 15px;
            float: left;
            &_menu {
                margin: 0;
                padding: 0;
                &_item{
                    display: inline-block;
                    width: 50px;
                    margin-right: 28px;
                    &_img{
                        cursor: pointer;
                        margin-bottom: 5px;
                    }
                    &_link{
                        display: block;
                        text-align: center;
                        font-family: 'BebasNeue_Bold';
                        color: #fff;
                        font-size: 14px;
                        text-decoration: none;
                        &:hover{
                            color: #089cd2;
                        }
                    }
                }
            }
        }
        &_nav-app-windows{
            padding: 62px 0 0 0;
            float: left;
            &_item{
                font-family: 'BebasNeue_Bold';
                color: #00fffc;
                font-size: 18px;     
                text-decoration: none;
            }

            
        }
        &_social {
            float: right;
            &_list {
                list-style: none;
                padding-left: 0;
                &_item {
                    display: inline-block;
                    &_link{
                        display: block;
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
        &_lang {
            position: absolute;
            right: 30px;
            top: 80px;
            &_link{
                font-family: 'BebasNeue_Bold';
                color: #fff;
                text-decoration: none;
                &:hover {
                    color: #089cd2;
                }
            }
        }       
    }
    
    
    &_content{
        position: relative;
        height: 100%;
        &_promo{
            position: relative;
            top: 50px;
            height: 700px;
            background: url(../img/screens-borer.png) no-repeat;
            background-size: contain;
            font-family: 'BebasNeue_Bold';
            z-index: 1;           
        }      
    }   
}