.sex {
    position: relative;
    &_header{
        position: relative;
        z-index: 2;
        height: 130px; 
        &_categoties {
            margin: 5px 0 0 15px;
            float: left;
            &_menu {
                margin: 0;
                padding: 0;
                &_item{
                    display: inline-block;
                    width: 50px;
                    margin-right: 28px;
                    &_img{
                        cursor: pointer;
                        margin-bottom: 5px;
                    }
                    &_link{
                        display: block;
                        text-align: center;
                        font-family: 'BebasNeue_Bold';
                        color: #fff;
                        font-size: 14px;
                        text-decoration: none;
                        &:hover{
                            color: #ff003c;
                        }
                    }
                }
            }
        }

        &_social {
            float: right;
            &_list {
                list-style: none;
                padding-left: 0;
                &_item {
                    display: inline-block;
                    &_link{
                        display: block;
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
        &_lang {
            position: absolute;
            right: 30px;
            top: 80px;
            &_link{
                font-family: 'BebasNeue_Bold';
                color: #fff;
                text-decoration: none;
                &:hover {
                    color: #ff003c;
                }
            }
        }
    }
    
    
    &_content{
        position: relative;
        height: 100%;
        &_promo{
            position: absolute;
            top: 35px;
            left: 91px;
            font-family: 'BebasNeue_Bold';
            z-index: 1;
            &_pre-title{
                color: #fff;
                margin: 0;
                text-shadow: 6px 7px 16px #2D2929;            
                font-size: 56px;
            }
            &_title {
                @extend .sex_content_promo_pre-title;
                font-size: 103px;
            }
            &_post-title {
                @extend .sex_content_promo_pre-title;
                font-size: 36px;
                color: #fff32d;
                float: right;
            }        
         
        }
        &_excerpt{
            position: absolute;
            top: 263px;
            left: 293px;
            width: 457px;
            z-index: 1;
            &_title{
                display: block;
                position: relative;
                right: 74px;
                font-size: 20px;
                line-height: 23px;
                text-align: left;
                font-family: 'BebasNeue_Book';  
                color: #fff;
            }
            :before{
                content: "[";
                position: absolute;
                top: 45px;
                left: -57px;
                font-size: 198px;
            }
            :after{
                content: "]";
                position: absolute;
                top: 45px;
                left: 455px;
                font-size: 198px;
            }
        }
        &_tags{
            position: absolute;
            top: 397px;
            &_title{
                background: linear-gradient(to right, rgba(0, 0, 0, 0.41), rgba(0, 0, 0, 0));
                color: #fff;
                font-size: 18px;
                padding: 6px 0 3px 50px;
                font-family: 'BebasNeue_Bold';
                max-width: 852px;
                width: 1000px;
            }
            &_icons{
                margin: 0;
                padding: 0;
                width: 700px;
                &_item{
                    background-image: url(../img/tag-icon.png);
                    display: inline-block;                  
                }
            }            
        }
        &_benefits{
            position: absolute;
            top: 550px;
            &_title{
                @extend .sex_content_tags_title;
            }
            &_icons{
                margin: 0;
                padding: 0;
                &_item{
                    display: inline-block;
                    margin-right: 16px;                   
                    &_text{
                        display: block;
                        font-family: 'BebasNeue_Bold';
                        color: #fff;
                        font-size: 13px;
                        padding-top: 74px;
                        text-align: center;
                        &:hover{
                            color: #80fc00;
                        }
                    }
                }
            }
        }        
    }
    
}