@import 'typography';
@import 'icons';

html, body{
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;     
}
body{
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: auto;     
}
.lang-active {
    text-decoration: underline!important;
}
.menu-active {
    position: relative;
    right: 5px;
    top: 10px;
    width: 71px;
    font-size: 18px!important;
    color: #85193a!important;   
}
.menu-active-fr{
    @extend .menu-active;
    color: #80fc00!important;     
}
.menu-active-sex{
    @extend .menu-active;
    color: #ff003c!important;     
}
.menu-active-auto{
    @extend .menu-active;
    color: #00deff!important;     
}
.menu-active-adv{
    @extend .menu-active;
    color: #f0ff00!important;     
}
.menu-active-din{
    @extend .menu-active;
    color: #777300!important;     
}
.menu-active-scr {
    @extend .menu-active;
    color: #089cd2!important;  
}
.menu-active-news {
    @extend .menu-active;
    color: #58ff2f!important;  
}

.container {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}
.bg-html-main {
    background-color: #dde8e2;
}
.bg-html-love {
    background-color: #f3c8d0;
}
.bg-html-friend {
    background-color: #e4f1a3;
}
.bg-html-sex {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.bg-html-auto {
    background-color: #a5c7d3;
}
.bg-html-adventures {
    background-color: #fae772;
}
.bg-html-dinner {
    background-color: #fae772;
}
.bg-html-screens {
    background-color: #a5c7d3;
}
.bg-html-news {
    background-color: #87b165;
}
.main-wrap {
    background: url(../img/background_1.jpg) no-repeat;
    position: relative;
    overflow-y: hidden;
}
.love-wrap {
    background: url(../img/background_2.jpg) no-repeat;
    background-position: top;
    position: relative;
    background-size: cover;
    background-position: top;
}
.friend-wrap {
    background: url(../img/background_3.jpg) no-repeat;
    position: relative;
    background-size: cover;
    background-position: top;
}
.sex-wrap {
    background: url(../img/background_4.jpg) no-repeat;
    position: relative;
    background-size: cover;
    background-position: top;
}
.auto-wrap {
    background: url(../img/background_5.jpg) no-repeat;
    position: relative;
    background-size: cover;
    background-position: top;
}
.adventures-wrap {
    background: url(../img/background_6.jpg) no-repeat;
    position: relative;
    background-size: cover;
    background-position: top;
}
.dinner-wrap {
    background: url(../img/background_7.jpg) no-repeat;
    position: relative;
    background-size: cover;
    background-position: top;
}
.screens-wrap {
    background: url(../img/background_8.jpg) no-repeat;
    position: relative;
    background-size: cover;
    background-position: top;
}
.news-wrap {
    background: url(../img/background_9.jpg) no-repeat;
    position: relative;
    background-size: cover;
    background-position: top;
}

.switcher {
    display: block;
    width: 125px;
    height: 173px;
    position: fixed;
    top: 45%;
    z-index: 200;
}
.switcher_nav{
    &_left{
        left: 10px;
        background: url(../img/left_gray.png) no-repeat top left;           
        background-size: 60%; 
        &:hover{
            background: url(../img/left_white.png) no-repeat top left;
            background-size: 60%;
        }
    }
    &_right {
        right: 25px;
        background: url(../img/right_gray.png) no-repeat top right;
        background-size: 60%;
        &:hover{
            background: url(../img/right_white.png) no-repeat top right;
            background-size: 60%;
        }
    }  
    &_left-white{
        left: 10px;
        background: url(../img/left_white.png) no-repeat top left;           
        background-size: 60%; 
        &:hover{
            background: url(../img/left_gray.png) no-repeat top left;
            background-size: 60%;
        }
    }
    &_right-white {
        right: 25px;
        background: url(../img/right_white.png) no-repeat top right;
        background-size: 60%;
        &:hover{
            background: url(../img/right_gray.png) no-repeat top right;
            background-size: 60%;
        }
    }    
}