@font-face {
 font-family: BebasNeue_Bold; /* Имя шрифта */
 src: url(../fonts/BebasNeue_Bold.otf); /* Путь к файлу со шрифтом */
}
@font-face {
 font-family: BebasNeue_Book; /* Имя шрифта */
 src: url(../fonts/BebasNeue_Book.otf); /* Путь к файлу со шрифтом */
}
@font-face {
 font-family: Couture; /* Имя шрифта */
 src: url(../fonts/couture-bld.otf); /* Путь к файлу со шрифтом */
}
@font-face {
 font-family: Allura; /* Имя шрифта */
 src: url(../fonts/Allura-Regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
 font-family: DISCO; /* Имя шрифта */
 src: url(../fonts/DISCO.otf); /* Путь к файлу со шрифтом */
}
.green {
    color: #005f07;
}