/*TOP PANEL*/
.top-panel {
  font-family: 'DINNextLTPro-Regular', sans-serif;
  background-color: $black;
  height: 30px;
  margin-bottom: 10px;

  /*CONTACTS AND TOP PANEL CONTENT*/
  &__content {
    padding-top: 5px;
    &__phone {
      display: block;
      float: left;

      &__icon {
        display: block;
        width: 15px;
        height: 14px;
        background: url('../image/phone_icon.png') no-repeat;
        float: left;
        margin-right: 5px;
        @include phones {
          display: none;
        }
      }
      &__text {
        color: $gray;
        font-size: 0.75em;
        margin: 3px;
        float: left;
      }
    }

    /*LOCATOR STYLE*/
    &__locator {
      @extend .top-panel__content__phone;
      margin-left: 20px;
      @include phones {
        display: none;
      }
      &__icon {
        display: inline-block;
        width: 19px;
        height: 17px;
        background: url('../image/locator_icon.png') no-repeat;
        margin-right: 5px;
        float: left;
      }
      &__text {
        color: $gray;
        font-size: 0.75em;
        text-decoration: none;
      }
    }

    /*CHOOSE LANGUAGE*/
    &__lang {
      @extend .top-panel__content__phone;
      float: right;
      margin-top: 3px;
      float: right;
      &__icon {
        display: block;
        width: 15px;
        height: 14px;
        background: url('../image/lang_lang.png') no-repeat;
        float: left;
        margin-right: 5px;

      }
      &__text {
        @extend .top-panel__content__locator__text;
        @include phones {
          display: none;
        }
        &__icon {
          display: block;
          width: 15px;
          height: 14px;
          background: url('../image/ar_lang-icon.png') no-repeat;
          background-position: bottom;
          float: right;
          margin-left: 5px;
        }
      }
    }
  }
}

  /*MAIN HEADER*/
.header {
  position: relative;
  font-family: 'DINNextLTPro-Regular', sans-serif;
  padding-bottom: 16px;
  margin-bottom: 14px;
  border-bottom: 1px solid $header-border-color;
  @include phones {
    margin-bottom: 0;
    border-bottom: none;
  }
  .container {
    position: relative;
  };

  /*LOGOTYPE*/
  &__logo {
    float: left;
    margin-right: 22px;
    @include phones {
      float: none;
      width: 105px;
      display: block;
      margin: 0 auto;
    }
  }

  /*SEARCH*/
  &__search-panel {
    position: relative;
    display: inline-block;
    float: left;
    padding-top: 16px;
    width: 495px;
    @include desktops{
      width: 395px;
    }
    @include tablets{
      width: 195px;
    }
    @include phones{
      display: none;
    }
    &__search {
      width: 100%;
      background: none;
      border: none;
      border-bottom: 2px solid $search-color;
      outline: none;
      font-size: 1.6em;
      padding-left: 40px;
      float: left;
    }
    &__btn {
      position: absolute;
      top: 18px;
      left: 0;
      width: 28px;
      height: 28px;
      background: #fff url('../image/search-icon.png') no-repeat;
      border: none;
      outline: none;
    }
  }
  /*CART*/
  &__cart {
    position: relative;
    float: right;
    @include phones {
      position: absolute;
      top: 7px;
      right: 20px;
    }
    &__icon{
      float: left;
      width: 43px;
      height: 43px;
      background: $cart-color url('../image/cart_icon.png') no-repeat;
      background-position: center;
      @include phones {
        width: 33px;
        height: 33px;
        background-size: 50%;
      }
    }

    /*QUANTITY FOR MOBILE*/
    &__quantity {
      display: none;
      position: absolute;
      top: -9px;
      left: 25px;
      width: 15px;
      height: 15px;
      background-color: #006d5b;
      color: #fff;
      padding: 2px;
      text-align: center;
      font-size: 0.8em;
      @include phones {
        display: block;
      }
    }

    /*CART DESCRIPTION*/
    &__description {
      float: right;
      @include phones {
        display: none;
      }
      &__title {
        font-family: 'PFDinTextCompPro-XThin', sans-serif;
        margin: -3px 0 3px 10px;
        color: $cart-color;
        text-transform: uppercase;
        font-size: 1em;
      }
      &__subtotal {
        float: left;
        margin: 0 0 0 10px;
        color: $cart-description-color;
        font-size: 0.7em;
      }
      &__sum {
        @extend .header__cart__description__subtotal;
        display: inline-block;
        margin: 0 0 0 5px;
      }
      &__total {
        @extend .header__cart__description__subtotal;
        clear: both;
      }
      &__items {
        @extend .header__cart__description__sum;
      }
    }
  }
}

/*NAVIGATION*/
.menu {
  border-bottom: 1px solid $menu-border-color;
  font-family: 'PFDinTextCompPro-Regular', sans-serif;
  margin-bottom: 14px;
  &__toggle {
    display: none;
    &:checked + .menu__navigation {
      display: block;
    }

  }
  &__btn {
    display: none;
    @include phones{
      display: block;
      cursor: pointer;
      position: absolute;
      top: 40px;
      width: 24px;
      height: 24px;
      background: url('../image/menu_btn-icon.png') no-repeat center;
      padding: 9px;
      border: 1px solid transparent;
      &:hover {
        border: 1px solid #d7ebdd;
      }
    }
  }
  &__navigation {
    text-align: center;
    margin: 14px 0;
    @include phones{
      display: none;
    }
    &__item {
      margin-left: 7%;
      text-decoration: none;
      color: $black;
      text-transform: uppercase;
      &:hover {
        color: $search-color;
      }
      @include desktops{
        margin-left: 5%;
      }
      @include tablets{
        margin-left: 3%;
      }
      @include phones{
        margin: 20px 0;
        width: 100%;
        display: block;
        font-size: 1.2em;
      }
    }
  }
}