/*MAIN COLOSRS*/
$black: #060e0c;
$gray: #c4cdcb;
$black: #231f20;

/*HEADER COLORS*/
$cart-color: #00a388;
$cart-total-color: #006d5b;
$cart-description-color: #575c5b;
$search-color: #ff6138;

$header-border-color: #f4f4e6;
$menu-border-color: #beeb9f;

/*CLEARFIX*/
.clearfix {
    zoom: 1;
    &:before, &:after {
    	content: "";
    	display: table;
    }
    &:after {
    	clear: both;
    }
}


/*MAIN STYLE*/
.container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    @include desktops {
        max-width: 860px;
    }
    @include tablets {
        max-width: 755px;
    }
    @include phones {
        max-width: 320px;
    }
    @include retina {
        max-width: auto;
    }
}



