$desktops-width: 880px;
$tablets-width: 767px;
$phones-width: 555px;
$landscape-width: 480px;
$retina-width: 320px;


@mixin desktops {
    @media only screen and (max-width : $desktops-width) {
        @content;
    }
}
@mixin tablets {
    @media only screen and (max-width : $tablets-width) {
        @content;
    }
}
@mixin phones {
    @media only screen and (max-width : $phones-width) {
        @content;
    }
}
@mixin landscape {
    @media only screen and (max-width : $landscape-width) {
        @content;
    }
}
@mixin retina {
    @media only screen and (max-width : $retina-width) {
        @content;
    }
}