#liquid{
  position: relative;
}

.previous {
  position: absolute;
  top: 90px;
  left: 0;
  background: url("../image/ar_left.png");
  width: 15px;
  height: 67px;
  cursor: pointer;
}

.next {
  position: absolute;
  top: 90px;
  right: 0;
  background: url("../image/ar_right.png");
  width: 15px;
  height: 67px;
  cursor: pointer;
}


.product {
  font-family: 'DINNextLTPro-Regular', sans-serif;
  text-transform: uppercase;
  margin-bottom: 80px;
  .container {
    position: relative;
    border-top: 1px solid #ff6138;
    padding-top: 100px;
    @include tablets {
      border: none;
      padding-top: 0;
    }

    &:before {
      content: 'New This Week';
      position: absolute;
      top: -29px;
      left: 39.166667%;
      padding: 5px 10px;
      background-color: #ff6138;
      color: #fff;
      font-family: 'PFDinTextCompPro-Thin', sans-serif;
      font-size: 2.5em;
      @include tablets {
        display: none;
      }
    }
  }

  &__item {
    position: relative;
    float: left;
    width: 180px;
    height: 360px;
    margin-left: 48px;
    a  {
      display: block;
    }
    &__img {
      max-width: 100%;
      height: auto;
    }
    &__sale {
      position: absolute;
      top: 0;
      right: 0;
      background: #79bd8f;
      text-align: center;
      padding: 6px;
      color: #fff;
      font-size: 0.8em;
      &:before{
        content: '';
        position: absolute;
        bottom: -9px;
        right: 25px;
        background: url('../image/decor_sale.png');
        width: 10px;
        height: 9px;
      }
    }
    &__info {
      &__name {
        margin: 0;
        float: left;
        font-size: 0.7em;
      }
      &__category {
        @extend .product__item__info__name;
        margin-bottom: 5px;
        float: none;

      }
      &__price {
        float: right;
        margin-right: 11px;
        font-size: 1.6em;
        &--сurrency {
          font-size: 0.5em;
        }
        &--cent {
          font-size: 0.5em;
          vertical-align: top;
        }
      }
      &__save {
        font-size: 0.7em;
        clear: both;
        color: #9ca5aa;
        margin-bottom: 5px;
      }
      &__old-price {
        float: right;
        margin-right: 30px;
        text-decoration: line-through;
      }
      &__rate {
        a {
          font-family: 'PFDinTextCompPro-Thin', sans-serif;
          text-decoration: none;
          color: #060e0c;
          font-size: 0.9em;
        }
        &__hearts {
          display: inline-block;
          background: url("../image/rate-all-fale.png") no-repeat;
          background-position: 0 1px;
          height: 12px;
          width: 83px;
          margin-right: 10px;
          &--i{
            @extend .product__item__info__rate__hearts;
            background: url("../image/rate-all-good.png") no-repeat;
          }
        }
        &__count {

        }
        &__reviews {

        }
      }
    }
  }
}