@mixin flex-img {
  max-width: 100%;
  height: auto;
}
h2 {
  margin: 0;
}

.slider {
  margin-bottom: 60px;
  &__first-block {
    position: relative;
    float: left;
    width: 49.5%;
    max-width: 475px;
    margin-right: 10px;
    margin-bottom: 20px;
    @include phones{
      width: 100%;
    }
    &__arrivals {

      &__title{
        position: absolute;
        top: 9.052632%;
        left: 9.052632%;
        width: 28.421053%;
        font-family: 'PFDinTextCompPro-XThin', sans-serif;
        font-size: 3em;
        line-height: 0.9em;
        text-transform: uppercase;
        color: #4e4570;
        @include tablets  {
        }
        @include phones  {
          font-size: 5em;
        }
        @include retina {
          font-size: 4.3em;
          top: 37px;
          left: 32px;
        }
        &--mod{
          font-family: 'PFDinTextCompPro-Thin', sans-serif;
          font-size: 2em;
          @include phones  {
            font-size: 2.2em;
          }
          @include retina {
            font-size: 2.2em;
          }
        }
      }
      &__img{
        @include flex-img;
        img {
          @include flex-img;
        }
      }
    }
    &__collection {
      &__title {
        float: left;
        width: 34%;
        max-width: 165px;
        font-family: 'PFDinTextCompPro-Thin', sans-serif;
        margin: 20px 15px;
        font-size: 3.7em;
        line-height: 0.8em;
        @include tablets {
          margin: 20px 10px;
        }
        &--mod {
          text-transform: uppercase;
        }
      }
      &__article {
        position: relative;
        width: 47%;
        float: left;
        font-family: 'PFDinTextCompPro-Thin', sans-serif;
        letter-spacing: 0.06em;
        margin: 31px 0px 32px 10%;
        &:before {
          content: '';
          position: absolute;
          top: -5px;
          left: -28px;
          width: 13px;
          height: 115%;
          border: 1px solid black;
          border-width: 1px 0 1px 1px;
          @include phones {
            left: -14px;
          }
        }
        @include tablets {
          margin: 25px 0px 32px 8%;
        }
        @include phones {
          width: 56%;
          letter-spacing: 0.05em;
          font-size: 1.5em;
          margin: 13px 0px 30px 2%
        }
      }
      &__img1 {
        width: 49%;
      }
      &__img2 {
        width: 49%;
      }
    }
  }
  &__second-block {
    width: 48.5%;
    float: left;
    @include phones{
      width: 100%;
    }
    &__left {
      float: left;
      width: 39.6%;
      max-width: 184px;
      margin-right: 10px;
      &__banner {
        position: relative;
        &__title {
          position: absolute;
          top: 76.229508196721%;
          left: 37.5%;
          font-family: 'PFDinTextCompPro-Thin', sans-serif;
          font-size: 3.4em;
          line-height: 0.3em;
          color: #2b7769;
          &--mod {
            font-family: 'DINNextLTPro-Regular', sans-serif;
            font-size: 0.27em;
          }
        }
        &__img {
          @include flex-img;
          img {
            @include flex-img;
          }
        }
      }
      &__special {
        position: relative;
        &__btn {
          position: absolute;
          top: 79.898219%;
          left: 24.456522%;
          font-family: 'PFDinTextCompPro-Thin', sans-serif;
          background: #fff;
          color: #b16e64;
          border: none;
          padding: 3px 20px;
        }
        &__title {
          position: absolute;
          top: 50.890585%;
          left: 17.934783%;
          font-family: 'PFDinTextCompPro-XThin', sans-serif;
          text-align: center;
          color: #fff;
          font-size: 3em;
        }
        &__img {
          @include flex-img;
          img {
            @include flex-img;
          }

        }
      }
    }
    &__right {
      width: 56.451%;
      float: left;
      max-width: 281px;
      &__special {
        position: relative;
        &__title {
          position: absolute;
          top: 35.929648%;
          left: 13.794786%;
          font-family: 'PFDinTextCompPro-Thin', sans-serif;
          width: 74%;
          text-transform: uppercase;
          line-height: 1em;
          font-size: 3.5em;
          text-align: center;
          color: #fff;
          &--mod {
            font-family: 'PFDinTextCompPro-XThin', sans-serif;
          }
        }
        &__btn {
          position: absolute;
          top: 82.160804%;
          left: 38.091512%;
          font-family: 'PFDinTextCompPro-Thin', sans-serif;
          background: #fff;
          color: #00a388;
          padding: 3px 20px;
          border: none;
        }
        &__img{
          position: relative;
          @include flex-img;
          img {
            @include flex-img;
          }
        }
      }
      &__offer {
        position: relative;
        &__title {
          position: relative;
          font-family: 'PFDinTextCompPro-XThin', sans-serif;
          font-size: 2.5em;
          text-align: center;
          width: 80%;
          text-transform: uppercase;
          line-height: 0.8em;
          margin: 20px 0 10px 12.5%;
          &:before {
            content: '';
            position: absolute;
            top: -5px;
            left: -33px;
            width: 13px;
            height: 115%;
            border: 1px solid black;
            border-width: 1px 0 1px 1px;
            @include desktops {
              left: -25px;
            }
            @include tablets {
              left: -22px;
            }
          }
          &:after {
            content: '';
            position: absolute;
            top: -5px;
            right: -21px;
            width: 13px;
            height: 115%;
            border: 1px solid black;
            border-width: 1px 1px 1px 0;
            @include desktops {
              right: -25px;
            }
            @include tablets {
              right: -22px;
            }
          }
          &--mod {
            text-transform: lowercase;
            font-size: 0.95em;
          }
        }
        &__img {
          width: 100%;
        }
        &__price {
          position: absolute;
          top: 86.907216%;
          right: 0;
          margin: 0;
          font-family: 'DINNextLTPro-Regular', sans-serif;
          font-size: 3em;
          span {
            font-size: 0.5em;
          }
          span + span {
            vertical-align: top;
          }
        }
      }
    }
  }
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background: rgba(0, 163, 136, 0.55);
  @include tablets {
    height: 100%;
  }
}
.img-overlay-square {
  position: absolute;
  top: 21%;
  left: 7%;
  width: 86%;
  height: 58%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
}