.slider {
  font-size:100%;
  @include desktops{
    font-size:80%;
  }
  @include tablets{
    font-size:60%;
  }
  @include phones {
    font-size:50%;
  }
}

@font-face {
  font-family: 'PFDinTextCompPro-Regular';
  src: url('../fonts/pfdintextcomppro-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/pfdintextcomppro-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pfdintextcomppro-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/pfdintextcomppro-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pfdintextcomppro-regular-webfont.svg#PFDinTextCompPro-Regular') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'PFDinTextCompPro-Thin';
  src: url('../fonts/pfdintextcomppro-thin-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/pfdintextcomppro-thin-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pfdintextcomppro-thin-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/pfdintextcomppro-thin-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pfdintextcomppro-thin-webfont.svg#PFDinTextCompPro-Light') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'PFDinTextCompPro-XThin';
  src: url('../fonts/pfdintextcomppro-xthin-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/pfdintextcomppro-xthin-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/pfdintextcomppro-xthin-webfont.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/pfdintextcomppro-xthin-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/pfdintextcomppro-xthin-webfont.svg#PFDinTextCompPro-XThin') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'DINNextLTPro-Regular';
  src: url('../fonts/dinnextltpro-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/dinnextltpro-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/dinnextltpro-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/dinnextltpro-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/dinnextltpro-regular-webfont.svg#DINNextLTPro-Regular') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'entypo';
  src: url('../fonts/entypo.eot'); /* IE9 Compat Modes */
  src: url('../fonts/entypo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/entypo.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/entypo.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/entypo.svg#entypo') format('svg'); /* Legacy iOS */
}