@charset "UTF-8";
.slider {
  font-size: 100%; }
  @media only screen and (max-width: 880px) {
    .slider {
      font-size: 80%; } }
  @media only screen and (max-width: 767px) {
    .slider {
      font-size: 60%; } }
  @media only screen and (max-width: 555px) {
    .slider {
      font-size: 50%; } }

@font-face {
  font-family: 'PFDinTextCompPro-Regular';
  src: url("../fonts/pfdintextcomppro-regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/pfdintextcomppro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcomppro-regular-webfont.woff") format("woff"), url("../fonts/pfdintextcomppro-regular-webfont.ttf") format("truetype"), url("../fonts/pfdintextcomppro-regular-webfont.svg#PFDinTextCompPro-Regular") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'PFDinTextCompPro-Thin';
  src: url("../fonts/pfdintextcomppro-thin-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/pfdintextcomppro-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcomppro-thin-webfont.woff") format("woff"), url("../fonts/pfdintextcomppro-thin-webfont.ttf") format("truetype"), url("../fonts/pfdintextcomppro-thin-webfont.svg#PFDinTextCompPro-Light") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'PFDinTextCompPro-XThin';
  src: url("../fonts/pfdintextcomppro-xthin-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/pfdintextcomppro-xthin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcomppro-xthin-webfont.woff") format("woff"), url("../fonts/pfdintextcomppro-xthin-webfont.ttf") format("truetype"), url("../fonts/pfdintextcomppro-xthin-webfont.svg#PFDinTextCompPro-XThin") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'DINNextLTPro-Regular';
  src: url("../fonts/dinnextltpro-regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/dinnextltpro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dinnextltpro-regular-webfont.woff") format("woff"), url("../fonts/dinnextltpro-regular-webfont.ttf") format("truetype"), url("../fonts/dinnextltpro-regular-webfont.svg#DINNextLTPro-Regular") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'entypo';
  src: url("../fonts/entypo.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/entypo.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo.woff") format("woff"), url("../fonts/entypo.ttf") format("truetype"), url("../fonts/entypo.svg#entypo") format("svg");
  /* Legacy iOS */ }
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*MAIN COLOSRS*/
/*HEADER COLORS*/
/*CLEARFIX*/
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

/*MAIN STYLE*/
.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px; }
  @media only screen and (max-width: 880px) {
    .container {
      max-width: 860px; } }
  @media only screen and (max-width: 767px) {
    .container {
      max-width: 755px; } }
  @media only screen and (max-width: 555px) {
    .container {
      max-width: 320px; } }
  @media only screen and (max-width: 320px) {
    .container {
      max-width: auto; } }

/*TOP PANEL*/
.top-panel {
  font-family: 'DINNextLTPro-Regular', sans-serif;
  background-color: #231f20;
  height: 30px;
  margin-bottom: 10px;
  /*CONTACTS AND TOP PANEL CONTENT*/ }
  .top-panel__content {
    padding-top: 5px;
    /*LOCATOR STYLE*/
    /*CHOOSE LANGUAGE*/ }
    .top-panel__content__phone, .top-panel__content__locator, .top-panel__content__lang {
      display: block;
      float: left; }
      .top-panel__content__phone__icon {
        display: block;
        width: 15px;
        height: 14px;
        background: url("../image/phone_icon.png") no-repeat;
        float: left;
        margin-right: 5px; }
        @media only screen and (max-width: 555px) {
          .top-panel__content__phone__icon {
            display: none; } }
      .top-panel__content__phone__text {
        color: #c4cdcb;
        font-size: 0.75em;
        margin: 3px;
        float: left; }
    .top-panel__content__locator {
      margin-left: 20px; }
      @media only screen and (max-width: 555px) {
        .top-panel__content__locator {
          display: none; } }
      .top-panel__content__locator__icon {
        display: inline-block;
        width: 19px;
        height: 17px;
        background: url("../image/locator_icon.png") no-repeat;
        margin-right: 5px;
        float: left; }
      .top-panel__content__locator__text, .top-panel__content__lang__text {
        color: #c4cdcb;
        font-size: 0.75em;
        text-decoration: none; }
    .top-panel__content__lang {
      float: right;
      margin-top: 3px;
      float: right; }
      .top-panel__content__lang__icon {
        display: block;
        width: 15px;
        height: 14px;
        background: url("../image/lang_lang.png") no-repeat;
        float: left;
        margin-right: 5px; }
      @media only screen and (max-width: 555px) {
        .top-panel__content__lang__text {
          display: none; } }
      .top-panel__content__lang__text__icon {
        display: block;
        width: 15px;
        height: 14px;
        background: url("../image/ar_lang-icon.png") no-repeat;
        background-position: bottom;
        float: right;
        margin-left: 5px; }

/*MAIN HEADER*/
.header {
  position: relative;
  font-family: 'DINNextLTPro-Regular', sans-serif;
  padding-bottom: 16px;
  margin-bottom: 14px;
  border-bottom: 1px solid #f4f4e6;
  /*LOGOTYPE*/
  /*SEARCH*/
  /*CART*/ }
  @media only screen and (max-width: 555px) {
    .header {
      margin-bottom: 0;
      border-bottom: none; } }
  .header .container {
    position: relative; }
  .header__logo {
    float: left;
    margin-right: 22px; }
    @media only screen and (max-width: 555px) {
      .header__logo {
        float: none;
        width: 105px;
        display: block;
        margin: 0 auto; } }
  .header__search-panel {
    position: relative;
    display: inline-block;
    float: left;
    padding-top: 16px;
    width: 495px; }
    @media only screen and (max-width: 880px) {
      .header__search-panel {
        width: 395px; } }
    @media only screen and (max-width: 767px) {
      .header__search-panel {
        width: 195px; } }
    @media only screen and (max-width: 555px) {
      .header__search-panel {
        display: none; } }
    .header__search-panel__search {
      width: 100%;
      background: none;
      border: none;
      border-bottom: 2px solid #ff6138;
      outline: none;
      font-size: 1.6em;
      padding-left: 40px;
      float: left; }
    .header__search-panel__btn {
      position: absolute;
      top: 18px;
      left: 0;
      width: 28px;
      height: 28px;
      background: #fff url("../image/search-icon.png") no-repeat;
      border: none;
      outline: none; }
  .header__cart {
    position: relative;
    float: right;
    /*QUANTITY FOR MOBILE*/
    /*CART DESCRIPTION*/ }
    @media only screen and (max-width: 555px) {
      .header__cart {
        position: absolute;
        top: 7px;
        right: 20px; } }
    .header__cart__icon {
      float: left;
      width: 43px;
      height: 43px;
      background: #00a388 url("../image/cart_icon.png") no-repeat;
      background-position: center; }
      @media only screen and (max-width: 555px) {
        .header__cart__icon {
          width: 33px;
          height: 33px;
          background-size: 50%; } }
    .header__cart__quantity {
      display: none;
      position: absolute;
      top: -9px;
      left: 25px;
      width: 15px;
      height: 15px;
      background-color: #006d5b;
      color: #fff;
      padding: 2px;
      text-align: center;
      font-size: 0.8em; }
      @media only screen and (max-width: 555px) {
        .header__cart__quantity {
          display: block; } }
    .header__cart__description {
      float: right; }
      @media only screen and (max-width: 555px) {
        .header__cart__description {
          display: none; } }
      .header__cart__description__title {
        font-family: 'PFDinTextCompPro-XThin', sans-serif;
        margin: -3px 0 3px 10px;
        color: #00a388;
        text-transform: uppercase;
        font-size: 1em; }
      .header__cart__description__subtotal, .header__cart__description__sum, .header__cart__description__items, .header__cart__description__total {
        float: left;
        margin: 0 0 0 10px;
        color: #575c5b;
        font-size: 0.7em; }
      .header__cart__description__sum, .header__cart__description__items {
        display: inline-block;
        margin: 0 0 0 5px; }
      .header__cart__description__total {
        clear: both; }

/*NAVIGATION*/
.menu {
  border-bottom: 1px solid #beeb9f;
  font-family: 'PFDinTextCompPro-Regular', sans-serif;
  margin-bottom: 14px; }
  .menu__toggle {
    display: none; }
    .menu__toggle:checked + .menu__navigation {
      display: block; }
  .menu__btn {
    display: none; }
    @media only screen and (max-width: 555px) {
      .menu__btn {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 40px;
        width: 24px;
        height: 24px;
        background: url("../image/menu_btn-icon.png") no-repeat center;
        padding: 9px;
        border: 1px solid transparent; }
        .menu__btn:hover {
          border: 1px solid #d7ebdd; } }
  .menu__navigation {
    text-align: center;
    margin: 14px 0; }
    @media only screen and (max-width: 555px) {
      .menu__navigation {
        display: none; } }
    .menu__navigation__item {
      margin-left: 7%;
      text-decoration: none;
      color: #231f20;
      text-transform: uppercase; }
      .menu__navigation__item:hover {
        color: #ff6138; }
      @media only screen and (max-width: 880px) {
        .menu__navigation__item {
          margin-left: 5%; } }
      @media only screen and (max-width: 767px) {
        .menu__navigation__item {
          margin-left: 3%; } }
      @media only screen and (max-width: 555px) {
        .menu__navigation__item {
          margin: 20px 0;
          width: 100%;
          display: block;
          font-size: 1.2em; } }

h2 {
  margin: 0; }

.slider {
  margin-bottom: 60px; }
  .slider__first-block {
    position: relative;
    float: left;
    width: 49.5%;
    max-width: 475px;
    margin-right: 10px;
    margin-bottom: 20px; }
    @media only screen and (max-width: 555px) {
      .slider__first-block {
        width: 100%; } }
    .slider__first-block__arrivals__title {
      position: absolute;
      top: 9.052632%;
      left: 9.052632%;
      width: 28.421053%;
      font-family: 'PFDinTextCompPro-XThin', sans-serif;
      font-size: 3em;
      line-height: 0.9em;
      text-transform: uppercase;
      color: #4e4570; }
      @media only screen and (max-width: 555px) {
        .slider__first-block__arrivals__title {
          font-size: 5em; } }
      @media only screen and (max-width: 320px) {
        .slider__first-block__arrivals__title {
          font-size: 4.3em;
          top: 37px;
          left: 32px; } }
      .slider__first-block__arrivals__title--mod {
        font-family: 'PFDinTextCompPro-Thin', sans-serif;
        font-size: 2em; }
        @media only screen and (max-width: 555px) {
          .slider__first-block__arrivals__title--mod {
            font-size: 2.2em; } }
        @media only screen and (max-width: 320px) {
          .slider__first-block__arrivals__title--mod {
            font-size: 2.2em; } }
    .slider__first-block__arrivals__img {
      max-width: 100%;
      height: auto; }
      .slider__first-block__arrivals__img img {
        max-width: 100%;
        height: auto; }
    .slider__first-block__collection__title {
      float: left;
      width: 34%;
      max-width: 165px;
      font-family: 'PFDinTextCompPro-Thin', sans-serif;
      margin: 20px 15px;
      font-size: 3.7em;
      line-height: 0.8em; }
      @media only screen and (max-width: 767px) {
        .slider__first-block__collection__title {
          margin: 20px 10px; } }
      .slider__first-block__collection__title--mod {
        text-transform: uppercase; }
    .slider__first-block__collection__article {
      position: relative;
      width: 47%;
      float: left;
      font-family: 'PFDinTextCompPro-Thin', sans-serif;
      letter-spacing: 0.06em;
      margin: 31px 0px 32px 10%; }
      .slider__first-block__collection__article:before {
        content: '';
        position: absolute;
        top: -5px;
        left: -28px;
        width: 13px;
        height: 115%;
        border: 1px solid black;
        border-width: 1px 0 1px 1px; }
        @media only screen and (max-width: 555px) {
          .slider__first-block__collection__article:before {
            left: -14px; } }
      @media only screen and (max-width: 767px) {
        .slider__first-block__collection__article {
          margin: 25px 0px 32px 8%; } }
      @media only screen and (max-width: 555px) {
        .slider__first-block__collection__article {
          width: 56%;
          letter-spacing: 0.05em;
          font-size: 1.5em;
          margin: 13px 0px 30px 2%; } }
    .slider__first-block__collection__img1 {
      width: 49%; }
    .slider__first-block__collection__img2 {
      width: 49%; }
  .slider__second-block {
    width: 48.5%;
    float: left; }
    @media only screen and (max-width: 555px) {
      .slider__second-block {
        width: 100%; } }
    .slider__second-block__left {
      float: left;
      width: 39.6%;
      max-width: 184px;
      margin-right: 10px; }
      .slider__second-block__left__banner {
        position: relative; }
        .slider__second-block__left__banner__title {
          position: absolute;
          top: 76.229508196721%;
          left: 37.5%;
          font-family: 'PFDinTextCompPro-Thin', sans-serif;
          font-size: 3.4em;
          line-height: 0.3em;
          color: #2b7769; }
          .slider__second-block__left__banner__title--mod {
            font-family: 'DINNextLTPro-Regular', sans-serif;
            font-size: 0.27em; }
        .slider__second-block__left__banner__img {
          max-width: 100%;
          height: auto; }
          .slider__second-block__left__banner__img img {
            max-width: 100%;
            height: auto; }
      .slider__second-block__left__special {
        position: relative; }
        .slider__second-block__left__special__btn {
          position: absolute;
          top: 79.898219%;
          left: 24.456522%;
          font-family: 'PFDinTextCompPro-Thin', sans-serif;
          background: #fff;
          color: #b16e64;
          border: none;
          padding: 3px 20px; }
        .slider__second-block__left__special__title {
          position: absolute;
          top: 50.890585%;
          left: 17.934783%;
          font-family: 'PFDinTextCompPro-XThin', sans-serif;
          text-align: center;
          color: #fff;
          font-size: 3em; }
        .slider__second-block__left__special__img {
          max-width: 100%;
          height: auto; }
          .slider__second-block__left__special__img img {
            max-width: 100%;
            height: auto; }
    .slider__second-block__right {
      width: 56.451%;
      float: left;
      max-width: 281px; }
      .slider__second-block__right__special {
        position: relative; }
        .slider__second-block__right__special__title {
          position: absolute;
          top: 35.929648%;
          left: 13.794786%;
          font-family: 'PFDinTextCompPro-Thin', sans-serif;
          width: 74%;
          text-transform: uppercase;
          line-height: 1em;
          font-size: 3.5em;
          text-align: center;
          color: #fff; }
          .slider__second-block__right__special__title--mod {
            font-family: 'PFDinTextCompPro-XThin', sans-serif; }
        .slider__second-block__right__special__btn {
          position: absolute;
          top: 82.160804%;
          left: 38.091512%;
          font-family: 'PFDinTextCompPro-Thin', sans-serif;
          background: #fff;
          color: #00a388;
          padding: 3px 20px;
          border: none; }
        .slider__second-block__right__special__img {
          position: relative;
          max-width: 100%;
          height: auto; }
          .slider__second-block__right__special__img img {
            max-width: 100%;
            height: auto; }
      .slider__second-block__right__offer {
        position: relative; }
        .slider__second-block__right__offer__title {
          position: relative;
          font-family: 'PFDinTextCompPro-XThin', sans-serif;
          font-size: 2.5em;
          text-align: center;
          width: 80%;
          text-transform: uppercase;
          line-height: 0.8em;
          margin: 20px 0 10px 12.5%; }
          .slider__second-block__right__offer__title:before {
            content: '';
            position: absolute;
            top: -5px;
            left: -33px;
            width: 13px;
            height: 115%;
            border: 1px solid black;
            border-width: 1px 0 1px 1px; }
            @media only screen and (max-width: 880px) {
              .slider__second-block__right__offer__title:before {
                left: -25px; } }
            @media only screen and (max-width: 767px) {
              .slider__second-block__right__offer__title:before {
                left: -22px; } }
          .slider__second-block__right__offer__title:after {
            content: '';
            position: absolute;
            top: -5px;
            right: -21px;
            width: 13px;
            height: 115%;
            border: 1px solid black;
            border-width: 1px 1px 1px 0; }
            @media only screen and (max-width: 880px) {
              .slider__second-block__right__offer__title:after {
                right: -25px; } }
            @media only screen and (max-width: 767px) {
              .slider__second-block__right__offer__title:after {
                right: -22px; } }
          .slider__second-block__right__offer__title--mod {
            text-transform: lowercase;
            font-size: 0.95em; }
        .slider__second-block__right__offer__img {
          width: 100%; }
        .slider__second-block__right__offer__price {
          position: absolute;
          top: 86.907216%;
          right: 0;
          margin: 0;
          font-family: 'DINNextLTPro-Regular', sans-serif;
          font-size: 3em; }
          .slider__second-block__right__offer__price span {
            font-size: 0.5em; }
          .slider__second-block__right__offer__price span + span {
            vertical-align: top; }

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background: rgba(0, 163, 136, 0.55); }
  @media only screen and (max-width: 767px) {
    .img-overlay {
      height: 100%; } }

.img-overlay-square {
  position: absolute;
  top: 21%;
  left: 7%;
  width: 86%;
  height: 58%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4); }

#liquid {
  position: relative; }

.previous {
  position: absolute;
  top: 90px;
  left: 0;
  background: url("../image/ar_left.png");
  width: 15px;
  height: 67px;
  cursor: pointer; }

.next {
  position: absolute;
  top: 90px;
  right: 0;
  background: url("../image/ar_right.png");
  width: 15px;
  height: 67px;
  cursor: pointer; }

.product {
  font-family: 'DINNextLTPro-Regular', sans-serif;
  text-transform: uppercase;
  margin-bottom: 80px; }
  .product .container {
    position: relative;
    border-top: 1px solid #ff6138;
    padding-top: 100px; }
    @media only screen and (max-width: 767px) {
      .product .container {
        border: none;
        padding-top: 0; } }
    .product .container:before {
      content: 'New This Week';
      position: absolute;
      top: -29px;
      left: 39.166667%;
      padding: 5px 10px;
      background-color: #ff6138;
      color: #fff;
      font-family: 'PFDinTextCompPro-Thin', sans-serif;
      font-size: 2.5em; }
      @media only screen and (max-width: 767px) {
        .product .container:before {
          display: none; } }
  .product__item {
    position: relative;
    float: left;
    width: 180px;
    height: 360px;
    margin-left: 48px; }
    .product__item a {
      display: block; }
    .product__item__img {
      max-width: 100%;
      height: auto; }
    .product__item__sale {
      position: absolute;
      top: 0;
      right: 0;
      background: #79bd8f;
      text-align: center;
      padding: 6px;
      color: #fff;
      font-size: 0.8em; }
      .product__item__sale:before {
        content: '';
        position: absolute;
        bottom: -9px;
        right: 25px;
        background: url("../image/decor_sale.png");
        width: 10px;
        height: 9px; }
    .product__item__info__name, .product__item__info__category {
      margin: 0;
      float: left;
      font-size: 0.7em; }
    .product__item__info__category {
      margin-bottom: 5px;
      float: none; }
    .product__item__info__price {
      float: right;
      margin-right: 11px;
      font-size: 1.6em; }
      .product__item__info__price--сurrency {
        font-size: 0.5em; }
      .product__item__info__price--cent {
        font-size: 0.5em;
        vertical-align: top; }
    .product__item__info__save {
      font-size: 0.7em;
      clear: both;
      color: #9ca5aa;
      margin-bottom: 5px; }
    .product__item__info__old-price {
      float: right;
      margin-right: 30px;
      text-decoration: line-through; }
    .product__item__info__rate a {
      font-family: 'PFDinTextCompPro-Thin', sans-serif;
      text-decoration: none;
      color: #060e0c;
      font-size: 0.9em; }
    .product__item__info__rate__hearts, .product__item__info__rate__hearts--i {
      display: inline-block;
      background: url("../image/rate-all-fale.png") no-repeat;
      background-position: 0 1px;
      height: 12px;
      width: 83px;
      margin-right: 10px; }
      .product__item__info__rate__hearts--i {
        background: url("../image/rate-all-good.png") no-repeat; }

/*# sourceMappingURL=style.css.map */
